[2014-11-13 21:46] GUI opened #1 "Don't require a website to signup for an API key"
On our [signup](https://developer.nrel.gov/signup) page, we currently require a website to signup. We've had several people confused or put off from registering because this was a required field. With APIs being used by researchers, in mobile apps, etc, it's becoming more common that a developer may not have a website to associate their registration with. I think we should remove this field from t

[2014-11-13 21:57] GUI opened #2 "Empty search on High Performance Building Database docs crashes browser"
If you want to crash your browser (which you probably don't want to do):
- Navigate to the [High Performance Building Database](http://developer.nrel.gov/docs/buildings/building-case-studies/) docs.
- Expand the first documentation for `/project`
- Hit "Try it out" without filling in any other fields.

After processing for a while, then your browser will likely crash. I think this is due to the vo

[2014-11-13 22:03] GUI opened #3 "Return monthly data with months as integers rather than abbreviated strings"
Feedback from our [API Usability Testing](http://18f.github.io/API-Usability-Testing/): In the [solar resource output](http://developer.nrel.gov/docs/solar/solar-resource-v1/#json-output-format), we return monthly data as an object where the keys are month abbreviations (eg, `"jan"`, `"mar"`). It was suggested that we use integers for months instead (so 1-12), which is a little more universal, and

[2014-11-13 22:05] GUI opened #4 "Possible "warnings" in API responses is undocumented"
Feedback from our [API Usability Testing](http://18f.github.io/API-Usability-Testing/): In several of our APIs we have documented that we may return [warnings](http://developer.nrel.gov/docs/solar/solar-resource-v1/#response-fields) in the response. However, it isn't clear what these warnings might entail, or how the API consumer should respond to warnings. We should also disambiguate that from wh

[2014-11-13 22:12] GUI opened #5 "Wind Toolkit Data API returns ZIP files, not friendly for consuming"
Feedback from our [API Usability Testing](http://18f.github.io/API-Usability-Testing/): The [Wind Toolkit Data API](http://developer.nrel.gov/docs/wind/wind-toolkit-extract/) returns a ZIP file containing a CSV. This makes it inconvenient to deal with for a few reasons:
- ZIP files aren't immediately consumable. They must first be saved and then decompressed before use, which is not convenient for

[2014-11-13 22:35] GUI opened #6 "Documentation consistency"
Feedback from our [API Usability Testing](http://18f.github.io/API-Usability-Testing/): We have a few different styles of documentation across our site. If you're browsing the different areas, it would be nice to have more consistency. For example, we have [static docs](http://developer.nrel.gov/docs/transportation/alt-fuel-stations-v1/all/) in some places and [interactive swagger docs](http://dev

[2014-11-13 22:40] GUI opened #7 "Use of coded values in the API calls and responses"
Feedback from our [API Usability Testing](http://18f.github.io/API-Usability-Testing/): Using less code values or more descriptive code values would make the APIs easier to use. An example of coded values can be seen in the [alt fuel stations api](http://developer.nrel.gov/docs/transportation/alt-fuel-stations-v1/all/). There you would pass in `status=E` for only open stations, which is not descri

[2014-11-13 23:27] GUI opened #8 "Returning dates/times as unix timestamps vs ISO strings"
Feedback from our [API Usability Testing](http://18f.github.io/API-Usability-Testing/): One of the participants preferred if all times being returned from our APIs would be returned as unix timestamp integers. I think most of our APIs typically return things times as [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) strings. The preference for unix timestamps is that they can be added and subtract

[2014-11-13 23:34] GUI opened #9 "Not obvious that header links on the home page are links"
Feedback from our [API Usability Testing](http://18f.github.io/API-Usability-Testing/): One user commented that it wasn't obvious the header links on the home page were actually links:

![screen shot 2014-11-13 at 4 33 51 pm](https://cloud.githubusercontent.com/assets/12112/5038863/e264554c-6b52-11e4-8e68-4da43cdaa862.png)

[2014-11-13 23:38] GUI opened #10 "View all available APIs on one page"
Feedback from our [API Usability Testing](http://18f.github.io/API-Usability-Testing/): Right now, our browsing of documentation and available APIs is very hierarchal, since you have to drill down via technology type (buildings, transportation, etc). One participant suggested it would be nice to have a way to view all the APIs on a single page. We don't really have that many, so while a technology

[2014-11-14 00:03] GUI opened #11 "Change our contact page to encourage people to use this issue tracker"
I'd like to start steering people in the direction of this issue tracker, so we should add links to this from our site and update our contact page. For the contact page, maybe something like what we've done on the [api.data.gov contact page](http://api.data.gov/contact/).

[2014-11-14 00:15] GUI opened #12 "Add API changelogs"
I think we should start maintaining public CHANGELOGs for our individual APIs. In a variety of cases, we continue to add new features to a specific version of an API (while maintaining backwards compatibility), but we don't necessarily do a good job announcing those enhancements or making the history of the API publicly available. While we could do a lot more to announce changes, a simple CHANGELO

[2014-11-14 01:06] GUI opened #13 "Make our API documentation public in github"
We should use this repository to store our API documentation so we can more easily accept edits via pull requests.

Our documentation is already stored in an internal github repo that lends itself to easily opening up, we mainly just need to first figure out some of our internal processes for staging branches of documentation that are currently in progress.

[2015-01-28 20:51] gbinal opened #14 "migrate developer.nrel.gov fully to api.data.gov endpoints"
http://developer.nrel.gov points to its native endpoints instead of dogfooding api.data.gov, thus missing out on some resulting efficiences. Can we go ahead and make the jump?

[2015-05-28 01:43] GUI opened #16 "Fix broken JSONP requests"
On a couple of our APIs where we still support JSONP (notably PVWatts and the Alt Fuel Stations), it looks like today's system upgrades broke the JSONP functionality. Due to some internal app updates, these specific APIs began returning a `X-Content-Type-Options: nosniff` header, which then broke JSONP requests in some browsers with this error:

[code]

I think we can remove this new header to res

[2015-05-28 01:44] GUI commented on #16
A fix has been deployed.

[2015-05-28 01:44] #16 closed

[2015-05-28 02:02] GUI commented on #14
@gbinal: Well, it was a looooooonnnnggg time coming, but as of today, developer.nrel.gov is now finally switched over and is using api.data.gov (this got wrapped up in a larger effort to move some of our API hosting out to the cloud, so that's why it took longer and got more complicated). The transition should have been seamless to our users since we're still using our own domain, but we're fully

[2015-05-28 02:02] #14 closed

[2015-05-28 02:02] GUI commented on #13
Done. This repo now contains our site docs, and there's a link to edit each page at the bottom of the web page.

[2015-05-28 02:02] #13 closed

[2015-05-28 02:03] GUI commented on #11
We've pretty much replicated the api.data.gov contact page and added a link to this issues repo: https://developer.nrel.gov/contact/

[2015-05-28 02:03] #11 closed

[2015-05-28 02:04] GUI commented on #1
Finally, no more website being required! https://developer.nrel.gov/signup/ It's now optional.

[2015-05-28 02:04] #1 closed

[2015-05-28 03:17] gbinal commented on #14
Heyyyy!!!! Congrats!  Welcome!

[2015-06-09 00:50] GUI opened #17 "Add NREL themed 404 not found page"
If you navigate to an unknown URL like so: http://developer.nrel.gov/jksdljf You currently get the default GitHub Pages 404 not found page. We should switch that to use an NREL-themed page instead.

[2015-06-09 00:53] GUI opened #18 "Missing background images on home page"
This is a small issue, but we used to have some background images in the gray boxes on the home page. They went missing in the recent transition of this site over to Middleman.

Actually, they show up in local development mode in Middleman, they're just missing from the production site. So it's likely related to the middleman build/compilation process (I think these background images are sprites,

[2015-06-09 15:10] GUI opened #19 "Setup canonical host and redirect for github.io version of site"
Since we're using GitHub pages for hosting this site, it means the site is also published at http://nrel.github.io/developer.nrel.gov/ in addition to http://developer.nrel.gov. We don't really want search engines indexing that other endpoint, so we should setup a canonical endpoint for search engines and try to redirect users via something like: https://github.com/NREL/api-umbrella/commit/e40ec240

[2015-06-10 13:12] michaeljlee0 opened #20 "energy-incentives:404"
I'm trying to integrate the energy-incentives api call into my app but the either the documentation is wrong or that part of the service is currently down.  The [documentation](https://developer.nrel.gov/api/energy-incentives/v1.json?api_key=DEMO_KEY&lat=40&lon=-105&incentive_types=ad_incentives,csp_incentives) says to use the below call but I continue to get a 404 response.

https://developer.nre

[2015-06-10 14:24] GUI commented on #20
@michaeljlee0: This should be fixed now. Thanks for bringing it to our attention, but sorry for the trouble! Let us know if you have any other questions.

[2015-06-10 14:24] #20 closed

[2015-07-28 20:28] #19 closed

[2015-08-07 11:58] manojdhiman opened #21 "I am not getting dataset for some of the locations"
I am using this api to get the dataset to calculate the solar system performance . this is the api i am using

`developer.nrel.gov/api/pvwatts/v5.json?api_key=***********************8&lat=56.26392&lon=9.50178500000004&system_capacity=4&azimuth=180&tilt=20&array_type=0&module_type=0&losses=12.32&inv_eff=96&dataset=intl&timeframe=hourly`

this is not working . response is
`
{"inputs":{"lat":"56.2639

[2015-08-13 01:09] GUI commented on #21
@manojdhiman: We do not have international climate data available within the default radius (100 miles) of 56.26392, 9.501785. If you expand your `radius` parameter, we do have international data at the Copenhagen site about 140 miles away:

http://developer.nrel.gov/api/pvwatts/v5.json?api_key=DEMO_KEY&lat=56.26392&lon=9.50178500000004&radius=150&system_capacity=4&azimuth=180&tilt=20&array_type=0

[2015-08-13 12:56] reger commented on #21
@GUI Even after the recent addition of international sites they aren't as numerous or dense as tmy2 and tmy3. Expanding search radius is one option, as is using the Solar Data Query API. You can also pass in `radius=0` to use the closest station, regardless of distance, as documented `http://developer.nrel.gov/docs/solar/pvwatts-v5/` We'd need to talk to the rest of the pvwatts team about addition

[2015-08-13 13:23] manojdhiman commented on #21
for me now it is working after i add `radius=500` in my api callFor Us countries . But not for indian countries . is it possible to use for indian countries or not??

[2015-08-13 13:30] reger commented on #21
I checked with solar data query and I get back results using Mumbai:  http://developer.nrel.gov/api/solar/data_query/v1.json?api_key=DEMO_KEY&address=mumbai&radius=50&all=1  What API call are you making where you aren't getting results with `radius=500`? And did you try `radius=0` for whatever location in India where you didn't get results?

[2015-08-13 13:38] manojdhiman commented on #21
not worked for Shimla etc. working for Mumbai '

[2015-08-13 13:42] reger commented on #21
What result do you get for Shimla?

[2015-08-14 04:36] manojdhiman commented on #21
this is the result .I am using this on my localhost and my location is `india`.

api url

http://developer.nrel.gov/api/pvwatts/v5.json?api_key=yNaNoBgRZqzpyKfHfKm2iCS3xmmFGEG3iOlJ5iWi&radius=500&lat=31.1048145&lon=77.17340330000002&system_capacity=4&azimuth=180&tilt=20&array_type=1&module_type=0&losses=12.32&inv_eff=96&dataset=intl&timeframe=hourly

result
`
{"inputs":{"radius":"500","lat":"31.10

[2015-08-15 16:46] reger commented on #21
It looks like there's a problem in that climate file, sorry about that. You can use solar data query to find other options close by that might work. We are going to look into the issues with the climate file, but I can't give you a good estimate of when we'll be able to get things fixed.

[2015-08-18 21:03] RickFrom1987 opened #22 "ac_monthly question"
Hello,

I am currently working with the ac_monthly array returned from this call:

https://developer.nrel.gov/api/pvwatts/v5.json?api_key=MY_KEY&lat=47.4925009&lon=-121.9516338&system_capacity=4&azimuth=180&tilt=40&array_type=1&module_type=1&losses=1

Is ac_monthy[0] january of 2015? or the current month?

[2015-08-18 21:04] #22 closed

[2015-08-18 21:05] RickFrom1987 commented on #22
Read the DOCS!

[2015-11-02 13:52] pravin174 commented on #21
Hi,
I am trying to get data from solar resource api but i can't get any data for indian location.
https://developer.nrel.gov/api/solar/solar_resource/v1.xml?api_key=DATA_API_KEY&lat=23&lon=72
please help me if you have any resolution.

[2015-11-02 13:57] reger commented on #21
@pravin174 I don't believe we have data for non-US locations for the solar resource API.

[2015-11-02 14:17] pravin174 commented on #21
Hi Reger,
do i have to pass any extra params OR
do you have any lat long list for indian location. give me just 5-10 locations if possible.

[2015-11-02 14:45] reger commented on #21
@pravin174 As far as I know, we don't have any data for Indian locations for that API, only US locations, so there are no locations I can give you in India which will return data for the solar resource API. The only API that I know of which we do have data for India is pvwatts.

[2015-11-29 22:12] grandpasknob opened #38 "how to use file_id in PVWatts v.5"
Newbie here.  I'd expect the following query to work (using the TMY2 solar file name returned from a previous lat-long-based query):

https://developer.nrel.gov/api/pvwatts/v5.json?api_key=DEMO_KEY&file_id="93738.tm2"&system_capacity=4&azimuth=180&tilt=40&array_type=1&module_type=1&losses=10

but it returns

"errors":["Unable to load data file for file_id specified: \"93738.tm2\""]

leaving out va

[2015-11-30 21:18] GUI commented on #38
`file_id` actually needs to be a valid `id` returned by the [Solar Dataset Query API](https://developer.nrel.gov/docs/solar/data-query-v1/), so here's an example:

https://developer.nrel.gov/api/pvwatts/v5.json?api_key=DEMO_KEY&file_id=0-93738&system_capacity=4&azimuth=180&tilt=40&array_type=1&module_type=1&losses=10

I've tried to [update](https://github.com/NREL/developer.nrel.gov/commit/7b3781d

[2015-11-30 22:03] grandpasknob commented on #38
Thanks.  That resolves my issue.

[2015-11-30 22:03] #38 closed

[2015-12-16 15:55] Juantxor commented on #21
I'm using radius=0 and still some locations are not working:
In kuwait I can not make it work. Please help!

http://developer.nrel.gov/api/pvwatts/v5.json?api_key=cZ8JyiA7MgLuShVAltjcxeemrfWGmq3pLSZdeGu0&system_capacity=4.08&module_type=0&losses=14.16&array_type=0&tilt=0.0&azimuth=180.00&lat=29.035&lon=48.14&dataset=intl&radius=0&timeframe=monthly&dc_ac_ratio=1.1&gcr=0.4&inv_eff=96

[2015-12-16 17:59] reger commented on #21
@Juantxor I replied to your contact form inquiry.

[2015-12-29 16:03] chrisd31 opened #40 "Wind API: Data Source?"
I'd like to know where can I find documentation regarding what is the data source of the wind API.

For instance, does all the sites have anemometers at 100 m? Is there a list that contains all the available Site Ids?

[2015-12-29 16:25] reger commented on #40
@jduckworth  can you answer this?

[2016-04-11 20:30] nisaraf opened #45 "PVWatts API doesn't return correct data for international locations that are very close to US border and for which the weather station happens to be in the US"
I used the following URL to find station data for a location in Ciudad Juarez, Chihuahua, Mexico:
http://developer.nrel.gov/api/pvwatts/v5.json?api_key=DEMO_KEY&lat=31.7219062&lon=-106.4040952&system_capacity=4&azimuth=180&tilt=40&array_type=1&module_type=1&losses=10&dataset=intl

In response, I got an error (422) suggesting that "No climate data found with dataset=intl for location specified: lat

[2016-04-11 22:37] reger commented on #45
Right now the PVWatts API treats the various datasets as completely separate. So when you pass in `dataset=intl` we only look at stations in that dataset. It would be confusing if you passed in `dataset=intl` and then pvwatts gave you results using tmy2.

The reason you get a result when you don't send in the dataset param is that it uses tmy2 as the default, which I'm guessing

[2016-04-12 01:00] nisaraf commented on #45
Yes, it's tmy2 that is being returned as default, when dataset param is not sent in the request.

Another example: For a location in Dawson, Canada (48.8035835,-94.6208837), the URL with `dataset=intl ` returns the same error; though with `dataset=tmy3`, city=BAUDETTE INTERNATIONAL is returned. I noticed how `dataset=tmy3` in case of Cd Juarez (Mexico) returns city=EL PASO INTERNATIONAL AP. Notice

[2016-04-12 13:19] reger commented on #45
The "International" in those examples is just part of the name of the station, not an indication of what dataset the station is part of. The name of the field being "city" can be a bit confusing in some cases since it's the station name and not always the city name, but that's how pvwatts has always returned it.

If you specify tmy2 or tmy3 for those examples you get results because there are stat

[2016-04-13 16:30] nisaraf commented on #45
Agree that there are no stations in intl dataset within the default radius of these locations, but I also noticed that even if the radius is set to maximum possible, it still doesn't return any intl stations for these locations, because there's no such station.

I was just thinking out loud: When the location is international but no corresponding international station is found, then probably retur

[2016-04-13 21:00] reger commented on #45
If you pass in `radius=0` along with `dataset=intl` it should use the closest station in that dataset, regardless of distance. For some reason it's not doing that for the Ciudad Juarez example in your initial post. Interestingly it seems to work for other locations, both inside and outside the US, including your Dawson, Canada example.

I figured out the problem, luckily it wasn't anything major,

[2016-04-13 21:00] #45 closed

[2016-04-27 06:51] just-fo-sho opened #47 "Internal Error: Cannot Get Data"
I can't figure out what exactly i'm doing wrong.
I've made several calls with similarly structure API calls and it has worked: just doesn't work for this case.

API call: "https://developer.nrel.gov/api/pvwatts/v5.xml?api_key=i7f73IZcUPetV8F7q7fUSHIehF7J1QwwIhah1H6b&lat=32.4725&lon=-99.5443&system_capacity=300000&azimuth=180&timeframe=hourly&array_type=0&tilt=40&module_type=0&losses=10&dataset=tmy

[2016-04-27 07:09] #47 closed

[2016-04-27 07:09] just-fo-sho commented on #21
Having the same issue here...
I can't figure out what exactly i'm doing wrong.
I've made several calls with similarly structure API calls for other locations and it has worked: just doesn't work for this case.

API call: "https://developer.nrel.gov/api/pvwatts/v5.xml?api_key=i7f73IZcUPetV8F7q7fUSHIehF7J1QwwIhah1H6b&lat=32.4725&lon=-99.5443&system_capacity=300000&azimuth=180&timeframe=hourly&array_

[2016-05-25 14:01] amdewstow opened #48 "Solar API output does not match GUI output."
GUI (http://pvwatts.nrel.gov/) returns deffirent numbers from the api (https://developer.nrel.gov/docs/solar/pvwatts-v5/)
Am I missing something or is the GUI have some extra math that the API does not?

Example below.

A request for 3400 Rainshore Drive Katy, TX 77449 with

setting | value
------------ | -------------
DC System Size| 3.135kW
Module Type | Standard
Array Type | Fixed (roof mount)

[2016-05-25 15:53] amdewstow commented on #48
GIGO user error. Was passing wrong Module Type.

[2016-05-25 15:53] #48 closed

[2016-08-01 21:27] PjEdwards opened #49 "Undefined Variable: "$font-family-base""
execute `./bin/middleman server` and view http://localhost:4567 and see error:
**Error Compiling CSS Asset Sass:SyntaxError: Undefined Variable: "$font-family-base"**

execute `./bin/middleman build` fails with error:
**Undefined variable: "$font-family-base". (Sass::SyntaxError)**

I just merged the latest from the home repo into my fork an hour ago.
Seems like a variable needs to be defined some

[2016-08-01 21:46] GUI commented on #49
Hm, I wasn't able to reproduce this. I just did a fresh clone, `bundle install --binstubs`, and `./bin/middleman build`, and I didn't get any errors.

Have you `bundle install`ed? That variable comes from bootstrap, so as long as bootstrap's sass file is installed and getting included, that variable should be defined (but it seems like if bootstrap-sass were missing entirely, you'd be getting a di

[2016-08-01 22:07] PjEdwards commented on #49
Well dang. I did indeed do a `bundle install --binstubs` which worked out fine. I don't have any changes in my fork (as in the 2 should be identical at this point).

I will try making fresh clone of this master and see if the results are different.

[2016-08-01 22:10] PjEdwards commented on #49
Same results. Do you think this is a problem?

'$ ruby --version'
'ruby 2.0.0p481 (2014-05-08 revision 45883) [x86_64-darwin14.5.0]'

[2016-08-01 22:22] PjEdwards commented on #49
Switching to this made it all happy again. I don't know why 2.0.0 was my default... I suppose the Mac shipped that way.

`$ ruby --version`
`ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin14]`

[2016-08-01 22:22] #49 closed

[2016-08-01 22:36] GUI commented on #49
Ah, interesting. Well definitely good to know that we apparently have some Ruby compatibility issues that don't surface in a particularly obvious way. Thanks for tracking that down!

[2016-09-01 01:08] sergiocastellanos opened #51 "Error HTTP: 429"
I keep getting Error HTTP: 429 when using python's API (following your guidelines on https://nsrdb.nrel.gov/api-instructions). I've been using a sleep timer between requests of 3.7 seconds to prevent violating the hourly limit of 1,000 requests per hour. However, after 40-50 iterations of coordinate positions, I get error HTTP: 429. Could you please let me know why is this happening?

[2016-09-01 01:41] GUI commented on #51
@sergiocastellanos: The rate limits for this API are actually lower than our defaults: http://developer.nrel.gov/docs/solar/nsrdb/psm_data_download/#rate-limits Although, I believe that documentation is out of date and the rate limit is now 50 requests per hour and 100 requests per day.

@PjEdwards: If I'm reading the admin correctly, I believe the limits are 100 per day now, instead of the docume

[2016-09-01 13:07] PjEdwards commented on #51
Yes, those docs _are_ incorrect. I will update them immediately. We are actually bumping the limit up to 200 a day. I will modify both the docs and the configuration accordingly. I don't control that NSRDB site but I can recommend that they add something about the rate limits there. I agree that it would be a good thing to clarify.

[2016-09-01 17:24] GUI commented on #51
Thanks, @PjEdwards! @sergiocastellanos: We've updated the [api documentation](http://developer.nrel.gov/docs/solar/nsrdb/psm_data_download/#rate-limits). Thanks for pointing this out, but sorry for any confusion! Feel free to reach out if you have any other questions.

[2016-09-01 17:24] #51 closed

[2016-10-19 09:08] CSFlorin opened #55 "National Solar Radiation Database API (sscapi) Problem"
I'm not sure sure if this is a problem with the API or on my part, but the channels of support seem rather limited, so I wanted to ask here in case it helps my chances of getting an answer.

Here is my question.

I get the following error when trying to run a SAM simulation (step 2 here: https://nsrdb.nrel.gov/api-instructions). I'm unsure of what this error actually means, but from what it seems,

[2016-10-19 14:08] reger commented on #55
I would try adding the directory the dylib is located in to `LD_LIBRARY_PATH`

[2016-10-20 04:53] CSFlorin commented on #55
Thanks a bunch; that worked! I would hope a comment is put in the relevant lines indicating that it may need the complete path

[2016-10-20 04:53] #55 closed

[2017-03-03 20:12] vizath opened #65 "Timezone of hourly results"
Hi,
When using pvwatts-v5, what is the timezone of the hours in the `ac/dc/etc..` array when the `timeframe=hourly` ?

In other words, does it starts at `2017-01-01T00:00:00-00:00` or `2017-01-01T00:00:00-07:00`.

Thanks

[2017-03-06 12:13] reger commented on #65
@vizath, the timezone is the local timezone of the climate station used, as noted in the `station_info` section of the response.

[2017-03-06 16:15] #65 closed

[2017-04-03 15:34] BertoMejia opened #67 "CORS header caching problem."
There is a small bug with your API when using CORS. I am using your Transportation, Alternative Fuel Stations  API, and I can get the data with no problem the first time. However, if I go to another website that pulls the same API, the API uses the origin from the last website used. It seems to be a caching problem with the headers. Below is the error I see in the console in Chrome (on windows 7).

[2017-06-22 15:04] jayhuggins opened #68 "Geocoding Questionable Addresses"
A downstream user observed that the following returns a result with no less certainty than a search for a valid address: https://developer.nrel.gov/api/utility_rates/v3.xml?api_key=MY_KEY&address=Scientific+Gobbledy+Gook+SC

The [documentation](https://developer.nrel.gov/docs/electricity/utility-rates-v3/) says you're using Google Geocode to resolve addresses, but searching for this same bogus add

[2017-06-22 15:35] reger commented on #68
We forgot to update the docs when we changed from Google to Mapquest for geocoding. We'll get them updated.

Thanks for pointing it out.

[2017-06-22 15:59] reger commented on #68
There are differences in how Mapquest and Google handle things, looks like you found such an instance.

[2017-07-26 01:43] GUI commented on #67
@BertoMejia: My apologies for the super belated response. This totally slipped past me! But I really appreciate you bringing this to our attention, and sorry for the trouble this caching behavior may have caused you. I believe the issue should now be resolved. Our responses now set the CORS header as `Access-Control-Allow-Origin: *`, which should work for all origins regardless of the cached statu

[2017-07-26 01:43] #67 closed

[2017-07-26 15:57] BertoMejia commented on #67
Thanks for the response. It is still giving an error. Now it is giving the following error:

XMLHttpRequest cannot load https://developer.nrel.gov/api/alt-fuel-stations/v1.json?fuel_type=ELEC&ev_…or_type=all&access=public&api_key=x. The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'include'. Origin 'https://ww

[2017-07-26 16:13] GUI commented on #67
@BertoMejia: Are you making the XHR request with [`withCredentials`](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/withCredentials) set to true? If so, is there a reason for enabling this? I don't think it should be necessary (since we shouldn't need any cookies sent on the request), but let us know, and we can try to get to the bottom of this.

[2017-10-18 14:27] maryamag85 opened #72 "confusion about file download"
Hi. I would like to download the weather and also the PV power generation data in a specific location, I can download the first part but I stuck doing the second part. Is this data available? is there any better manual using the data rather than this ? https://nsrdb.nrel.gov/api-instructions ? I could not understand how to make different url for the mentioned datasets. no clear link to the file na

[2017-11-20 06:13] dfehrer opened #73 "Contact Us Failed to Send"
I tried to send a message via the "Contact Us"  via the site here: https://developer.nrel.gov/contact/
but I get a message saying:
"Sending your message unexpectedly failed.
Please try again or file an issue for assistance."

[2017-11-21 16:50] #73 closed

[2017-11-21 16:51] dfehrer commented on #73
This is working now. I closed the issue.

[2018-01-17 22:03] sustainablejohn opened #79 "address format for utility rates API"
What is the format of address we should use in the call?

The example is for lat/lon, but I need to input an address, ideally just city, state.

https://developer.nrel.gov/docs/electricity/utility-rates-v3/

[2018-01-22 12:59] ncashwin opened #80 "Hourly AC system output array dose not give date and time?"
Can any one help me to understand while using PVWatts V5 API with timeframe=hourly, how to relate ac output array to the actual time. I have noticed array has 8760 element, dose this means next 8760 hrs or is it for the current year starting from Jan 1st.

Thanks for you support.

[2018-01-29 13:02] reger commented on #80
It is 8760 hours starting at Jan 1.

[2018-01-30 06:35] ncashwin commented on #80
@reger Thanks.

[2018-01-30 06:36] #80 closed

[2018-01-30 17:22] tyokota opened #81 "Duplicate dates"
I recently accessed the PSM3 API. I noticed that 2-28 hour 0-23 was repeated twice in the set when looking at the tmy series.

[2018-01-30 17:56] tyokota commented on #81
Actually, I also noticed that only half-day 12/30 and 12/31 were recorded. Is this intentional? Seems like this API is broken.

[2018-01-31 14:17] PjEdwards commented on #81
@tyokota thanks for the heads up. I'll look into it.

[2018-02-05 20:57] edatrix commented on #79
The address should be entered as a string.  A city/state, such as "Denver, CO" is accepted.

[2018-02-05 20:57] #79 closed

[2018-03-19 14:42] bwbush opened #82 "H2FAST service reports bad gateway"
The H2FAST service reports 502 ("Bad Gateway"): See the console error messages for https://www.nrel.gov/hydrogen/h2fast/.

What is the underlying problem?

[2018-03-22 04:03] GUI commented on #82
@bwbush: Hm, it looks like this was an API that was never formally documented/released, and I'm not super clear on its origins. The underlying server developer.nrel.gov is pointing to for this API doesn't seem to be up anymore. But I have some old e-mails tangentially related to it, so let me start an e-mail chain with you and loop you in.

[2018-03-22 22:24] GUI commented on #17
At some point this got implemented.

[2018-03-22 22:24] #17 closed

[2018-03-22 22:25] GUI commented on #18
Fixed at some point a while ago, so closing.

[2018-03-22 22:25] #18 closed

[2018-03-22 22:25] GUI commented on #21
I'm going to close this due to inactivity, but give a shout if anyone's still running into this.

[2018-03-22 22:25] #21 closed

[2018-03-22 22:27] GUI commented on #72
@PjEdwards: Looping you in on this (very belatedly, sorry all!), since you might have a better idea on this.

[2018-03-22 22:28] GUI commented on #40
Going to close this, since I think there's additional links that cover this in the docs, but let us know if anything isn't clear.

[2018-03-22 22:28] #40 closed

[2018-03-23 13:54] PjEdwards commented on #72
Hi @maryamag85

I would recommend that you review the API specific documentation for details on the options available for crafting download URLs. The [usage guide](https://developer.nrel.gov/docs/solar/nsrdb/guide/) contains some general guidelines and optimizations that can be applied. The [PSM v2](https://developer.nrel.gov/docs/solar/nsrdb/psm_data_download/) and [PSM v3](https://developer.nrel

[2018-03-23 15:49] GUI commented on #72
Thanks, Paul. Going to go ahead and close this, but let us know if you have any further questions.

[2018-03-23 15:49] #72 closed

[2018-05-14 20:36] cbuxton71 opened #85 "API is returning Yellowknife as closest station"
I have been using the API successfully for obtaining data for the last year. Today I noticed that it is now returning Yellowknife,NT as the closest station, even though I am using a Lat-Long in Calgary, AB.  Has something changed to prevent me using this sort of query?

https://developer.nrel.gov/api/pvwatts/v6.json?api_key=xxxxxxxxxxxxxxxxxxxxxxxxxx&lat=51.11&lon=-114.02&radius=0&system_capacity=

[2018-05-14 20:45] reger commented on #85
The PVWatts team decided to remove some sites from the `intl` dataset which they considered redundant with the addition of the `nsrdb` dataset. The NSRDB dataset uses the latest NREL solar data. It appears that the Calgary site was one of the ones removed.

Apologies for any confusion or inconvenience.

[2018-05-14 20:45] #85 closed

[2018-08-06 20:16] rynelson opened #87 "PVWatts API is down"
Anyone know when this api will be back up?

[2018-09-19 18:15] allenlawrence94 opened #88 "v3 API docs indicate that "utc=true" is default behavior, but I am seeing the opposite."
If I don't specify "utc=true" in a request, then I receive weather data with local timestamps. If this is intended behavior, then the docs should be altered accordingly.

[2018-09-19 19:15] GUI commented on #88
@allenlawrence94: Can you clarify which specific API you're accessing where this is the case? Thanks!

[2018-09-20 23:41] craftj2 opened #89 "504 Gateway Timeout error"
I've started receiving this error on requests to the solar nsrdb_9105 data set after a very long wait period. The code and URL requests generating this error worked as recently as yesterday. Any idea on what the problem might be? here is a sample url generating this (this is the sample url from the documentation)

https://developer.nrel.gov/api/solar/nsrdb_9105_download.json?api_key=DEMO_KEY&full_

[2018-09-21 06:33] GUI commented on #89
@craftj2: Sorry for the trouble. A few of our APIs, including this NSRDB API, are currently unavailable. We're working on getting them restored as soon as we can and will update you once it's back online.

[2018-09-23 14:59] GUI commented on #89
Service was restored to this API on Friday evening. Let us know if you're still seeing issues, and apologies for any inconvenience.

[2018-09-23 14:59] #89 closed

[2018-09-24 15:40] craftj2 commented on #89
I am still having problems. I get a different response now:

Request rejected

An error has occurred. Please consult with your administrator.

Your support ID is: 8236775082270549914

[2018-09-26 15:39] craftj2 opened #90 "Request rejected?"
This is a follow up to issue #89, 504 Gateway Timeout Error. I am still having problems with the solar nsrdb_9105 data set. I get a different response now:

Request rejected

An error has occurred. Please consult with your administrator.

Your support ID is: 8236775082270549914

[2018-09-26 15:58] GUI commented on #90
@craftj2: Sorry for the troubles. We're looking to get this resolved.

@PjEdwards: Just looping you in here, in case you're hearing of other users running into this. I've filed a ticket with ITS about this.

[2018-09-26 19:12] GUI commented on #90
@craftj2: Can you try again and let us know if you're still running into any issues?

[2018-09-26 20:08] craftj2 commented on #90
It looks like we are back in business - thank you for the quick response!

[2018-09-26 20:08] #90 closed

[2018-11-03 00:12] chintanp opened #94 "Option to return selected fields of AFDC stations"
Hi,

Currently a query like [this](https://developer.nrel.gov/api/alt-fuel-stations/v1/nearby-route.json?api_key=DEMO_KEY&distance=2&route=LINESTRING(-105.22109+39.75553,-105.22133+39.7554,-105.22059+39.75459,-105.21959+39.75351,-105.2183+39.75214,-105.21685+39.75057,-105.21603+39.74968,-105.21634+39.7495,-105.21647+39.74949,-105.21711+39.74914,-105.21851+39.74834,-105.21904+39.74805,-105.22002+39

[2018-11-15 16:57] craftj2 opened #96 "Request rejected? (again)"
This is a follow up to Issue #90

https://github.com/NREL/developer.nrel.gov/issues/90

The same error is occurring again after 2 months of operational bliss. Here is the specific response I get this time:

Request Rejected

An error has occurred. Please consult with your administrator.

Your support ID is: 9946171700951584224

[2018-11-19 15:40] GUI commented on #96
@PjEdwards: Looping you in here. I filed a ticket with ITS, but it sounds like this support ID is masking a 504 gateway timeout issue. So are there any known timeout issues with the NSRDB API?

[2018-11-19 15:58] GUI commented on #94
@chintanp: For historical reasons, we do support a [`return_type=ids` option](https://developer.nrel.gov/api/alt-fuel-stations/v1/nearby-route.json?api_key=DEMO_KEY&distance=2&route=LINESTRING(-105.22109+39.75553,-105.22133+39.7554,-105.22059+39.75459,-105.21959+39.75351,-105.2183+39.75214,-105.21685+39.75057,-105.21603+39.74968,-105.21634+39.7495,-105.21647+39.74949,-105.21711+39.74914,-105.21851

[2018-11-19 17:22] PjEdwards commented on #96
Yes, unfortunately these APIs are serving massive datasets on servers with fairly limited hardware resources. Occasionally during times of peak load we will see a greater density of intermittent timeouts. This primarily impacts requests using the `CSV` format since these requests need to start streaming data in 30 seconds or a timeout occurs. If you're seeing timeouts on a `JSON` format request th

[2018-11-19 18:57] craftj2 commented on #96
The requests are working again, I am using the json format for my requests

[2018-12-06 02:20] nickengerer opened #98 "Additional solar resource datasets?"
The host page:

https://developer.nrel.gov/docs/solar/

States: "Access data and analysis services that provide access to solar resource data and NREL models."

There are a variety of services that could be added for solar resource data; are these just limited to NREL products, or we could add additional helpful resources?

[2019-01-22 19:35] RMBoys opened #100 "Oncor is incorrectly identified as agent of open incentive"
Nissan, not Oncor, is the agent for a listing recently added to the Laws and Incentives - TX database.
[DOE EE citation error.docx](https://github.com/NREL/developer.nrel.gov/files/2784305/DOE.EE.citation.error.docx)

[2019-04-08 17:03] craftj2 opened #109 "data no longer available for Guam?"
I had been using the NSRDB 9105 API download until recently, when I started receiving this message:

"This API has been permanently taken out of service. Please use https://developer.nrel.gov/docs/solar/nsrdb/psm3_data_download/"

I have made the switch and its mostly working fine except for when I attempt to access data for Guam, which had been working with the old API. With the new one, I now re

[2019-04-08 17:14] GUI commented on #109
@PjEdwards: I think this might be a question for you.

[2019-04-08 18:42] PjEdwards commented on #109
@craftj2 Yes, due to a combination of data inconsistencies and cost of maintenance, the APIs you used to use are no longer available via developer.nrel.gov. However the data can still be downloaded en masse. If you look at page 11 of [this document](https://www.nrel.gov/docs/fy07osti/41364.pdf) you can find references to a few different sources. However, it is also worth noting that this data is q

[2019-04-08 18:49] reger commented on #98
@nickengerer it is intended as documentation for NREL APIs

[2019-04-08 18:49] #98 closed

[2019-04-08 18:50] #96 closed

[2019-04-08 19:10] mrahill commented on #100
@RMBoys – Thank you for bringing this to our attention. This issue was resolved, and that incentive no longer exists on the Texas page at https://afdc.energy.gov/laws/state_summary?state=TX.

[2019-04-08 19:10] #100 closed

[2019-04-08 21:36] craftj2 commented on #109
As I said, I've switched to the Physical Solar Model 3 API, which is functional. I just noticed that it doesn't seem to cover Guam, so I was wondering if that was a limitation of the PSM3 data and what other geographic limitations it may have compared to the NSRDB 9105 data.

[2019-04-08 21:38] PjEdwards commented on #109
Gotcha. You can see the coverage of both datasets on the map at https://maps.nrel.gov/nsrdb-viewer/?aL=UdPEX9%255Bv%255D%3Dt%26f69KzE%255Bv%255D%3Dt%26f69KzE%255Bd%255D%3D1%26yTLDDF%255Bv%255D%3Dt%26yTLDDF%255Bd%255D%3D2&bL=clight&cE=0&lR=0&mC=4.740675384778373%2C22.8515625&zL=2

[2019-04-16 04:29] mailbox01 opened #111 "PvWatts Address format"
what is appropriate address format for PvWatts API call.

Since i am calling the API for Perth , WA , but it seems API not resolving the input address e.g. "6 Michael Cres,  Boya,WA,6056" , in this case API is returning the data of  station "Nantes/FRA" rather than WA station. I am using the dataset="intl"

what is wrong in the input / or suggest the proper input format to get the correct data out

[2019-04-19 13:15] plunavat opened #112 "Solar Resource data for Pune, India"
Hello,

I am not getting solar resource data for following lat and lon

[https://developer.nrel.gov/api/solar/solar_resource/v1.json?api_key=DEMO_KEY&lat=18.52&lon=73.79](url)
could you please help

Regards,
Pranav

[2019-05-06 21:50] per-shriram opened #118 "Hydrogen station status and capacity should be available via API"
One can get the details of the available Hydrogen stations via the api. However the station status and capacity of H35/H70 is available via a HTML page rather than an API. It would be great to pull that via API

[2019-05-08 18:40] derekwmiller commented on #7
It also helps when the values listed in the API documentation match what is returned in the API.

For example, alt fuel stations in Oregon return the following unique values for 'groups_with_access_code':
Private - Government only
PLANNED - not yet accessible (Private)
Private
TEMPORARILY UNAVAILABLE (Public - Credit card at all times)
Public - Call ahead
Public - Credit card at all times
Public -

[2019-05-15 19:09] reger commented on #112
@plunavat that API only has data for the US. You might take a look at the [NSRDB APIs](https://developer.nrel.gov/docs/solar/nsrdb/) to see if they have the data you are looking for.

[2019-05-15 19:09] #112 closed

[2019-05-15 19:10] reger commented on #81
@PjEdwards is this resolved? Can we close it?

[2019-05-15 19:11] reger commented on #109
@PjEdwards @craftj2 is this resolved/answered now? Can it be closed?

[2019-05-15 20:54] reger commented on #118
@per-shriram We are looking at potentially adding that at some point in the future, thank you for the suggestion.

[2019-05-15 20:54] #118 closed

[2019-05-30 16:18] andyweiss1982 opened #121 "DNS lookup issue"
I am having trouble connecting to this API.  About 40% of the time, it works just fine (I am making a post request with a long linestring, url encoded).

But about 60% of the time, I get this error when making the exact same request:

(getaddrinfo: nodename nor servname provided, or not known (developer.nrel.gov:443))

I have tried from several different wifi networks in different locations and it

[2019-05-30 20:12] GUI commented on #121
@andyweiss1982: We have external monitoring tools that haven't picked up these type of issues, but sorry for the trouble! Can you provide more details so we can try to get to the bottom of this? Can you tell us what DNS servers you're using and what location (country or US state) you're trying to make these connections from?

[2019-05-31 09:16] andyweiss1982 commented on #121
Thank you for the quick response!  Currently I am just making these requests from a development environment, I haven’t tried anywhere in production yet.

However, I am located in Miami, FL.

Any guidance you can provide is much appreciated!

[2019-05-31 14:10] GUI commented on #121
Can you share the DNS servers your development environment is using? On Windows, Mac, or Linux, I think you should be able to determine this by running `nslookup developer.nrel.gov` on the command line and sharing the output of that. If you're using a local DNS server, then it may also be helpful to find what external DNS servers you're using are. You can discover those by visiting https://browser

[2019-05-31 14:13] andyweiss1982 commented on #121
Sure thing, is this helpful?

[2019-05-31 14:21] GUI commented on #121
@andyweiss1982: Hm, I'm not seeing any details in your last message. Was there supposed to be a screenshot, or something else? If you were trying to attach a screenshot, you may need to post that directly to the GitHub interface (https://github.com/NREL/developer.nrel.gov/issues/121), rather than attaching it to an e-mail response.

[2019-05-31 15:33] andyweiss1982 commented on #121
Thanks for the heads up!  Screenshots below:

![Screen Shot 2019-05-31 at 10 12 51 AM](https://user-images.githubusercontent.com/8116130/58716825-e06c3900-8397-11e9-9f28-025935c9c377.png)
<img width="514" alt="Screen Shot 2019-05-31 at 10 12 08 AM" src="https://user-images.githubusercontent.com/8116130/58716826-e06c3900-8397-11e9-9904-27f7f4f7ad7e.png">

[2019-06-02 03:52] bmosov01 opened #122 "Wind Toolkit Data API Returning Unspecified Error"
I have been periodically extracting data for resource assessment analysis for over a year, but in the last week my API calls started returning the following message:

An error has occurred. Please consult with your administrator.
Your support ID is: 15679877088887868874
[Go Back]

My API call that returned the above message was:
https://developer.nrel.gov/api/wind-toolkit/wind/wtk_download.csv?api

[2019-06-03 18:04] PjEdwards commented on #122
Hi Brock, Yes, we had a service outage for the past few days, and I was out of town and unable to resolve it until today. Should be operational now. If you have further issues let me know!
Paul

[2019-08-29 18:53] #122 closed

[2019-09-26 23:12] PjEdwards commented on #109
Yes, plz close

[2019-09-26 23:13] #109 closed

[2019-09-26 23:13] PjEdwards commented on #81
yes, plz close

[2019-09-26 23:14] #81 closed

[2019-09-26 23:18] PjEdwards commented on #5
There is a version of the endpoints that accept the `.csv` format, allowing for a direct CSV file download. The `.zip` feature is required for endpoints that provide access to anywhere from 1 to 1000s of CSV files in a single request. Perhaps this needs to be more clearly described in the docs?

[2019-09-26 23:19] PjEdwards commented on #5
Interestingly, the only [example in the docs](https://developer.nrel.gov/docs/wind/wind-toolkit/wind-toolkit-extract/#examples) is using the `.csv` form...

[2019-10-09 16:14] pfairey commented on #96
I am receiving the following error when trying to access https://www.nrel.gov
An error has occurred. Please consult with your administrator.
Your support ID is: 8485505872547637387

[2019-10-09 21:17] GUI commented on #96
@pfairey: Can you tell us which specific API URL you're hitting? Thanks!

[2019-10-09 22:56] pfairey commented on #96
No API of which I am aware. I get this response from entering www.nrel.gov in my Firefox browser.

Philip Fairey
Sent from my iPhone
(o) 321-638-1005
(c) 321-537-6233

[2019-10-10 12:13] pfairey commented on #96
Could have been some kind of API that Google used to attempt to direct me to a document I wanted to view that is likely on NREL's publication database. I assume that is a possibility but then I was unable to get to the main NREL URL.

[2019-10-14 19:00] craftj2 opened #137 "Physical Model 3 pressure units"
I am using the physical model 3 API to get typical weather data for various locations, specifically:

https://developer.nrel.gov.api/solar/nsrdb_psm3_download.csv

I have noticed an issue with the surface_pressure datatype, which is that the values provided do not appear to be consistent with the units of measure. The response indicates that the units of measure are mbar (this is also what has his

[2019-10-14 19:59] PjEdwards commented on #137
Yeah, that does look wrong. Let me figure out what's going on and get back to you.

[2019-10-14 21:48] PjEdwards commented on #137
Fix has been deployed. We had some internal disconnects on what units were in there, and hence they were being erroneously scaled. Thanks for the heads up!

[2019-10-14 21:49] PjEdwards commented on #137
@reger can close at will

[2019-10-14 23:37] #137 closed

[2019-11-04 20:31] craftj2 opened #139 "Issue with air temperature data for Oakland Metropolitan Airport"
The specific API call I am using is:

https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?api_key=[api_key]&attributes=air_temperature,surface_pressure,dew_point&email=[email]&wkt=POINT(-122.2642+37.7983)&names=tmy&utc=false&interval=60

Starting on November 30 16:00, the data returned for this call appears to switch from degC to degC x10; the hourly readings for November 30th are as foll

[2019-11-05 13:07] PjEdwards commented on #139
Let me raise this with the modeling team and see if they can help isolate the issue. Thanks!

[2019-11-19 23:24] craftj2 commented on #139
I have now also found this problem on TMY for Portland-Hillsboro Airport. I have observed now in both cases the issue exists where the source year is 2018. Hopefully that should help the modeling team isolate the issue!

[2019-11-20 08:14] Dhawaldeep opened #141 "CORS error on performing XMLHTTP GET request to PVWatts v6 api"
When the application with origin 'https://heliware.co.in' tries to access using XMLHttprequest to https://developer.nrel.gov/api/pvwatts/v6.json?params it gets blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

The application has a SSL certificate even then it throws a CORS error.

[2019-11-20 15:27] reger commented on #141
@GUI can you take a look at this?

[2019-11-20 15:58] Dhawaldeep commented on #141
@reger Can you please tell me the repository which I have to use?

[2019-11-20 16:14] reger commented on #141
@Dhawaldeep not sure what you are asking

[2019-11-20 16:16] Dhawaldeep commented on #141
Oh sorry I thought you were asking me to see repositoried pinned in @GUI account but instead you were calling @GUI

[2019-11-20 16:19] reger commented on #141
yeah :) he's on my team here, I was asking him to look into it

[2019-11-21 18:08] GUI commented on #141
@Dhawaldeep: Are you passing any HTTP headers into the request? That might explain why you're getting an error on the CORS pre-flight request. If you can avoid passing HTTP headers in, then that should avoid the need for the pre-flight request on GET requests. If you're passing the API key in via the HTTP header, try passing the API key via the [GET query parameter](https://developer.nrel.gov/docs

[2019-11-21 18:46] Dhawaldeep commented on #141
Yes I checked, the angular http interceptor was sending one unwanted authorization header. Thanks a lot.

[2019-11-21 18:46] #141 closed

[2019-11-22 17:49] PjEdwards commented on #139
Thanks again for identifying and sharing the issue. It's on the issue list, but not likely to get fixed in the short term due to the work and time involved in re-running.

[2020-01-16 13:04] TimurDela opened #145 "How to set-up data rate for the WindToolKit?"
The map Query tool allows to request data binned per hour or by 5 minutes intervals but the API reference does not explain how to set the data interval and sends 5' bins per default.

I know I can aggregate 5' data to get hourly data but that doesn't seem to be an optimal use of bandwidth.

Is there a request parameter that would allow downloading hourly data?
https://developer.nrel.gov/docs/wind/

[2020-01-16 16:46] PjEdwards commented on #145
Yeah, you're right. THe documentation is missing some detail there. I'll have to rectify that! In the meantime, you can use the `interval=5` or `interval=60` parameter to accomplish it. Just copying the example from the docs and adding this looks like:

[code]

[2020-02-03 10:18] TimurDela commented on #145
Thank you very much!

[2020-02-03 10:18] #145 closed

[2020-02-03 23:23] kurt-rhee opened #146 "Did the API change?"
Hello, were there recent changes to the API?  I haven't changed my code at all, but am now receiving error message:

urllib.error.HTTPError: HTTP Error 404: Not Found

Thank you for your help.

[2020-02-05 15:57] GUI commented on #146
@kurt-rhee: Can you tell us which specific API you're referring to, and the URL you're trying access? Thanks!

[2020-02-05 16:06] kurt-rhee commented on #146
Hello here is my code with api key hidden:

    # Declare all variables as strings. Spaces must be replaced with '+',
    # i.e., change 'John Smith' to 'John+Smith'.
    # Define the lat, long of the location and the year
    years = [1998, 1999, 2000,
             2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
             2011, 2012, 2013, 2014, 2015]

    # You must request an NSR

[2020-02-05 16:15] GUI commented on #146
@PjEdwards: It looks like this is related to the `/api/solar/nsrdb_psm3_download.csv` API. Any recent changes there that would be leading to 404s?

[2020-02-05 16:38] kurt-rhee commented on #146
Here is the example from the nrel website with my API Key
https://developer.nrel.gov/docs/solar/nsrdb/psm3_data_download/#examples

[code]

Traceback:

`Traceback (most recent call last):
  File "C:\Users\Simon.Rhee\AppData\Local\Continuum\miniconda3\envs\epe2.0\lib\site-packages\IPython\core\interactiveshell.py", line 3291, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File

[2020-02-06 22:49] kanderso-nrel commented on #146
@GUI This appears to be because the API is blocking the default user-agent string for urllib, which pandas uses under the hood for `pd.read_csv`.

For instance:

[code]

[2020-02-06 23:07] kanderso-nrel commented on #146
@kurt-rhee, try this workaround for your code.  The `requests` package uses a different default user-agent string that isn't getting rejected.

[code]

[2020-02-07 22:04] kurt-rhee commented on #146
@kanderso-nrel that works!  Thank you

[2020-02-07 22:04] #146 closed

[2020-02-18 21:17] ctinman opened #147 "New to APIs/data scraping, can't get request"
Hello, new to APIs and currently trying to extract multiple hourly solar datasets from PVWatts. I've been hitting multiple errors and have been unable to retrieve data, and did not know where else to go for help.

Right now, I keep getting a 400 error message. I believe my parameters are sound, but I don't know exactly what the URL should be.

The code:

`
url = 'http://developer.nrel.gov/api/pvwa

[2020-02-21 23:15] GUI commented on #146
@kurt-rhee, @kanderso-nrel: Thanks for reporting this and figuring out a workaround, but definitely sorry about the issue. It looks like there was a security layer at NREL that inadvertently started blocking several API user agents. But this should not have been happening. I believe this is now fixed so the `Python-urllib/3.7` and other API library user agents aren't being blocked any longer. But

[2020-02-21 23:18] GUI commented on #147
@ctinman: Have you inspected the body of the response? It should describe the error in more detail. But based on the 400 status code and URL, I'm guessing this might be due to the URL being requested with http, instead of https. We require https connections for API requests, so try updating your code to connect to `https://developer.nrel.gov` instead. Let us know if that's still not working, thoug

[2020-02-26 18:45] cbest1990 opened #149 "psm3_tmy_data - Does this format work?"
Hello, I am able to get other api request to run, but can not get any API request for PSM TMY data following the example online:

GIVEN ONLINE: (/api/nsrdb_api/solar/nsrdb_psm3_tmy_download)

MY REQUEST:
URL <- "http://developer.nrel.gov/api/solar/nsrdb_psm3_tmy_download.csv?wkt=POINT(-97.1292+33.2164&attributes=dhi)&names=tmy-2018&full_name=CJBest&email=charles.best@uga.edu&affiliation=UGA&mailin

[2020-04-06 14:51] kanderso-nrel commented on #149
Hi @cbest1990, I think you have two errors in your URL.  I believe the correct endpoint is `http://developer.nrel.gov/api/nsrdb_api/solar/nsrdb_psm3_tmy_download.csv` and you are missing the `nsrdb_api` part.  Also, you have the `attributes` info inside the `wkt` spec.  FYI the pvlib python package has [a function](https://pvlib-python.readthedocs.io/en/stable/generated/pvlib.iotools.get_psm3.html

[2020-04-06 14:57] cbest1990 commented on #149
Thank you for the response!
This is part of a project for an application I am building to be deployed on shiny.io so it has to be R.

I discovered what the error was and was able to build the API.

Thank you,
Charles Best

Sent from my iPhone

[2020-04-14 16:15] ruikaitang opened #151 "HSDS API URL Isssues?"
Hi, I'm just trying to work through the jupyter notebook hsds examples from (https://github.com/NREL/hsds-examples). However, it looks like I'm stuck on the literal first step, as I can't appear to access the API at all.

`import h5pyd`
`f = h5pyd.File(".hscfg", 'r')`
`print(list(f))`

The .hscfg file contains the following lines:

`hs_endpoint = https://developer.nrel.gov/api/hsds`
`hs_username =

[2020-05-13 19:10] tannerntannern opened #153 "Wrong default `utc` value for psm3 data download API"
I'm currently using the psm3 data download API, and it seems that [these docs](https://developer.nrel.gov/docs/solar/nsrdb/psm3_data_download/#request-parameters) list the incorrect default value for the `utc` parameter.

For example, this is the URL I'm hitting:
`https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?api_key=<key>&email=<email>&attributes=clearsky_ghi,solar_zenith_angle&int

[2020-05-13 20:19] #149 closed

[2020-05-13 20:23] MRossol commented on #151
@ruikaitang

Your .hsconfig file should look like this:
hs_endpoint = https://developer.nrel.gov/api/hsds
hs_username =
hs_password =
hs_api_key = *************************

You do not have a username or password.

The hs_api_key should be the api key from developer.nrel.gov

[2020-05-13 22:46] ruikaitang commented on #151
Oh, I was provided with a username and password so I thought I needed to use them. Since those fields are left blank, are they necessary at all or can they be omitted in the .hsconfig file?

[2020-05-13 22:49] MRossol commented on #151
@ruikaitang

They SHOULD be left blank. You should only provide the hs_endpoint and hs_api_key

[2020-05-13 22:51] #151 closed

[2020-05-20 16:18] Sophieleamon opened #154 ""Request Too Large""
Hi all,

I'm hoping to streamline using the NREL API to download wind and solar profiles by state. I used the NREL Windtool kit to map out the polygon geometry for Ohio (for example) and then used that polygon for an API request.

I've gotten the error ""Request too large." Note that I am pulling a single year of data and only the power attribute.

Is this error caused because there are more than

[2020-05-20 19:28] PjEdwards commented on #154
Hi Sophie,
Yep, it's a simple matter of our available hardware limiting the total throughput we can manage. There is a guide that details the method applied and offers guidance for maximizing each request at https://developer.nrel.gov/docs/wind/wind-toolkit/guide/. Also we are currently working on a fully backwards compatible v2 version of this that will allow us to increase our rate limits. Look

[2020-05-20 20:24] Sophieleamon commented on #154
Thanks very much Paul for the quick response.

Is there a way of getting around this for a one-time pull, maybe planning a midnight request or setting a download timer? - We’re hoping to do a large modeling update and are trying to avoid a large number of manual small pulls.

Thanks for all your help on this. Stay safe,
Sophie

From: Paul Edwards <notifications@github.com>
Sent: Wednesday, May 20,

[2020-05-20 22:27] PjEdwards commented on #154
The other option is to grab bulk raw data using HSDS... Check out https://github.com/NREL/hsds-examples.

Best,
Paul

[2020-05-21 13:58] Sophieleamon commented on #154
Thank you, Paul.

Unfortunately, for this project, we’re only really able to use the converted shapes (MW) and it looks like HSDS only offers the raw weather data.

I have two remaining ideas for ways to bypass the data-limit - please let me know if either would be feasible:

1.       Is there documentation of the available API POINTs? If there was a list of API POINT coordinates, I could loop thr

[2020-05-21 14:09] PjEdwards commented on #154
Yeah, [this file](https://data.nrel.gov/files/54/wtk_site_metadata.csv) lists both the coordinates and the state name (among other things) of each point. You can use this to generate a list of specific points to download and submit it in your request as a multi-point WKT. There is an example of the MULTIPOINT approach in [the NSRDB docs](https://developer.nrel.gov/docs/solar/nsrdb/guide/). That pl

[2020-05-21 14:15] Sophieleamon commented on #154
This is perfect. Thanks again.
Sophie

From: Paul Edwards <notifications@github.com>
Sent: Thursday, May 21, 2020 10:10 AM
To: NREL/developer.nrel.gov <developer.nrel.gov@noreply.github.com>
Cc: Leamon, Sophie <Sophie.Leamon@brattle.com>; Author <author@noreply.github.com>
Subject: Re: [NREL/developer.nrel.gov] "Request Too Large" (#154)

Yeah, this file<https://data.nrel.gov/files/54/wtk_site_met

[2020-05-21 20:23] PjEdwards commented on #154
No problem. Good luck!

[2020-05-21 20:25] PjEdwards commented on #153
Thanks for the heads up. Let me take a look.

[2020-05-22 16:36] Sophieleamon opened #155 "PVWatts Tool for Historical Year"
Hi,

I'm hoping to use the PVWatts API to convert a irrandiance data from a specific year (2009). It looks like if you don't give it a file_id from a solar database query, that it will default to a TMY file.

I was looking to see if I could identify file_ids by year, but [this ](https://developer.nrel.gov/docs/solar/data-query-v1/) documentation appears not to differentiate by year. Is it possible

[2020-05-22 20:25] #154 closed

[2020-05-22 20:28] Sophieleamon commented on #147
the url should be: http://developer.nrel.gov/api/pvwatts/v6.**csv**? or http://developer.nrel.gov/api/pvwatts/v6.**json**?
depending on the format output you want. Hope this helps.

[2020-06-25 04:30] scottmn opened #158 "Request rejected"
Today I began experiencing an issue submitting a POST request to:

http://developer.nrel.gov/api/nsrdb_api/solar/nsrdb_psm3_tmy_download.csv

(using appropriate query string vals, email, api_key, etc.)

[code]

A GET request to the same URL works fine.  Is the POST no longer supported or is there an issue with the API at the moment?  Thanks!

[2020-06-25 15:55] reger commented on #153
@PjEdwards okay to close this now?

[2020-06-25 15:57] reger commented on #139
@PjEdwards @craftj2 okay to close this now?

[2020-06-25 16:07] PjEdwards commented on #158
@scottmn Thanks for the heads up. I restored access to the POST and OPTIONS verbs just now. Let me know if you have any further trouble.

[2020-06-25 17:46] craftj2 commented on #139
Yes this has been resolved, thank you!

[2020-06-25 17:46] #139 closed

[2020-06-25 20:26] kanderso-nrel opened #159 "NSRDB API returning bad data for tmy-2017"
Was a change made to the `tmy-2017` NSRDB dataset?  We noticed part of our test suite failing (https://github.com/pvlib/pvlib-python/pull/886#issuecomment-649780627) because the TMY API is returning somewhat different data than it used to.  It could be that other datasets are affected as well; our tests just use tmy-2017 as an example, so that's the only one I've looked at.

Here's a script to rep

[2020-06-25 22:27] PjEdwards commented on #159
Hi Kevin, yes we have been rolling out an updated version of these APIs, however we did not anticipate a change in output data. Let me contact the team and see if there are any known differences between the files in HSDS and the files sitting on discs at NREL.

I've tried a few other points and I'm not able to replicate the Feb 28th issue. Still debugging that one. I'll be in touch!

[2020-06-25 22:46] PjEdwards commented on #159
OK, date formatting side effect when the TMY year for February is a leap year but for March is not. I'll fix that now. Still working on the data variations.

[2020-06-29 20:44] PjEdwards opened #161 "Dependabot Commit breaking circleci"
Doesn't like Rack update? Seems to be preventing deployment of latest documentation

[2020-06-29 21:05] PjEdwards commented on #161
https://github.com/NREL/developer.nrel.gov/commit/4e538e30f65fbcbbfd68726f5917de7cc85599af

[2020-07-02 01:44] cx971111 opened #162 "HTTP Error 400: Bad Request"
I was following the API instruction for Solar Data Download at this url (https://nsrdb.nrel.gov/data-sets/api-instructions.html), but after replacing the 'api_key' and 'your_email' with what I requested through [https://developer.nrel.gov/signup/](url), I received the error message "HTTP Error 400: Bad Request". What happened and what can I do?

Thanks

[2020-07-02 15:57] marktracy03 opened #164 "WIND Toolkit Forecast Data"
I am trying to download forecast data from the Wind Integration National Dataset Toolkit via the API (or another way if it is not possible to use the API). On NREL's site it says, “The forecast data set includes forecasts for 1-hour, 4-hour, 6-hour, and 24-hour forecast horizons,” but I have been unable to download anything other than 5-minute real time data from the API (quoted: https://www.nrel.

[2020-07-06 16:50] tannerntannern commented on #153
@PjEdwards @reger, I'm not sure if the behavior of the API has been changed as a result of this issue, but it now appears that `?utc=false` and `?utc=true` don't have any effect??

[2020-07-06 20:04] PjEdwards commented on #153
Yeah, this is definitely a bug in the new code. Working on a fix now, should be able to deploy this afternoon, or tomorrow latest.

[2020-07-06 21:01] PjEdwards commented on #153
OK, that fix is deployed. I ran some tests and it appears to be working as intended. Let me know if you have continued trouble.

Thanks!

[2020-07-07 15:14] PjEdwards commented on #161
@GUI @reger I believe this is the reason updates to docs aren't getting deployed? It would be really great if we could do whatever is needed to get these deployed. Let me know if I can help with anything?

[2020-07-07 16:23] kanderso-nrel commented on #159
Hi @PjEdwards just curious, any news on the data variations?  Thanks!

[2020-07-09 23:39] GUI commented on #161
@PjEdwards: Sorry about this! The CI setup on this project has gotten to be a bit of a mess between our internal Jenkins and left over CircleCI vestiges. Apologies this is blocking deploys, I'm trying to get this cleaned up and deployed shortly.

[2020-07-10 16:49] #161 closed

[2020-07-10 18:56] GUI commented on #161
@PjEdwards: Sorry for the long delay on this, but I think everything's now live, and hopefully all this CI stuff is better cleaned up as part of #166 (so you should only get notifications from GitHub Actions if things fail, or you can check the status of things here: https://github.com/NREL/developer.nrel.gov/actions).

[2020-07-10 19:04] PjEdwards commented on #162
A 400 error can be caused by many things, the most common is an invalid set of query parameters. Does the response include a JSON object with a message providing validation error details?

[2020-07-10 19:14] PjEdwards commented on #164
@marktracy03 The forecast data isn't available via the API. That data is part of the techno-economic subset which can be found on S3 at

https://registry.opendata.aws/nrel-pds-wtk/

look for: arn:aws:s3:::nrel-pds-wtk/wtk-techno-economic/pywtk-data/

[2020-07-14 19:36] PjEdwards commented on #161
Awesome, thanks!

[2020-07-14 20:08] #153 closed

[2020-07-15 14:31] PjEdwards commented on #159
@kanderso-nrel  I am unable to track down the details, but there was a disconnect between the most recent version of the TMY data and the version being served through these APIs. The models are being refined periodically and at some point about a year and a half ago we fell out of sync. Going forward we are now serving data for both HSDS and the APIs from the same raw data files in S3 so this won'

[2020-07-15 15:45] kanderso-nrel commented on #159
Thanks for the info!  It makes sense that the current TMY could get out of sync, but I had the understanding that the year-marked TMY data (e.g. tmy-2017) were "set in stone" without any concept of updating over time, so I wouldn't have thought that there was anything to lose sync with in that case.  Is that an inaccurate or incomplete understanding?

And a side note -- is there a preference betwe

[2020-07-15 21:54] kanderso-nrel commented on #159
Got it.  I think from my perspective this is resolved -- feel free to close the issue if you agree.

[2020-07-20 06:25] hazilo commented on #162
Hey, I've got the the same over here, 400 bad request, here's the result (the email is valid, I just obfuscated it for obvious reasons):

{"inputs":{"names":"tmy","wkt":"POINT(-77.75 36.15)","mail":"xxx.xxx@xxx.com","interval":"60"},"metadata":{"version":"2.0.0"},"status":400,"errors":["The required 'email' parameter must be a valid email address"]}

[2020-07-20 20:34] PjEdwards commented on #162
@hazilo In your case it looks like you are providing a "mail" parameter, however the required parameter name is "email".

[2020-07-22 18:26] jeeptjinva opened #169 "WIND Toolkit HTTP Error 400 [Data Processing Failure] and Not Found"
Using the API to gather WIND Toolkit data seem to be broken.

The link formats (below) worked early last week, and now return Bad Request via Python and a Data Processing Failure when I use the link in a web browser.

https://developer.nrel.gov/api/wind-toolkit/wind/wtk_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&a

[2020-07-22 21:31] PjEdwards commented on #169
@jeeptjinva We are in the midst of an unscheduled data upload which has interrupted our services. We had hoped to complete this over the weekend, however due to the size of the data and some technical difficulties it is taking us longer than planned. I’ll let you know when the data has been restored. Apologies for the inconvenience!

[2020-07-23 06:37] hazilo commented on #162
I see it now, it was "mail" in the whole API description when I designed our software with it in 2018... was it changed recently? This is breaking all our legacy software...

[2020-07-23 12:24] PjEdwards commented on #162
We do support receiving POST requests. can you share an example POST request that is failing? With that I can debug and figure out what's causing the 400s.

[2020-07-23 13:09] hazilo commented on #162
https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?api_key=xxx
post parameters:
api_key=xxx
names=tmy
wkt=POINT(Longitude Latitude)
email=xxx@yyy.com
interval=60

[2020-08-06 14:59] madalsa opened #170 "HTTP Error 429: Too Many Requests for ~3000 geographic points"
I'm trying to scrape TMY 2018 temperature for almost ~3000 points in continental United States (think county centers) and getting too many requests error. I'm looping over the specific lat/lon and as given in the [ documentation ](https://developer.nrel.gov/docs/solar/nsrdb/python-examples/). I'm not sure if I should retry (didn't get a retry-after header along) or I have been restricted, but appr

[2020-08-06 15:02] PjEdwards commented on #170
I think [these docs](https://developer.nrel.gov/docs/solar/nsrdb/guide/) may be more appropriate for your use case. 3000 points should be do-able with a few well constructed multi-point requests.

[2020-08-06 15:29] madalsa commented on #170
I can open a new issue for this but a quick follow-up - air_temperature from NSRDB for a particular year, say 2018, is TMY temperature or MERRA 2 values? For TMY3 values, is it necessary to go through SAM?

[2020-08-06 15:40] madalsa commented on #170
I can open a new issue for this but a quick follow-up - air_temperature from NSRDB for a particular year, say 2018, is TMY temperature or MERRA 2 values? For TMY3 values, is it necessary to go through SAM? Thank you for your quick response - appreciate it!

[2020-08-06 19:01] PjEdwards commented on #170
Let me ask the team about that and get back to you.

[2020-08-06 20:55] PjEdwards commented on #162
@hazilo I'm not able to reproduce this. Using a valid API key, email address, and wkt value and submitting a request like this via the POST method works for me. It may be something in the way you are formulating your request. Typically a 400 response will include some JSON with an error message... this message may offer a clue if some of your params are invalid.  In my test I simply used URL param

[2020-08-06 21:54] #162 closed

[2020-08-06 21:54] cx971111 commented on #162
problem solved

[2020-08-10 18:49] madalsa commented on #170
Thank you for that!

[2020-09-11 16:04] l-jacob opened #172 "Reopt Lite: All output load data returning as 2017"
Hello. I've run a few calls to the API inputting the same data. No matter what value I give "LoadProfile" > "year" it returns
"year" : 2017

I've tried this with identical input information (with "monthly_totals_kwh") changing "year" for 2016, 2018 and 2020. Each time it returns "year": 2017 registered as the input.

Is Reopt Lite only running on 2017 weather data? Thanks.

[2020-09-11 16:33] GUI commented on #172
@NLaws, @sakshi-mishra, @t-kwasnik: Is this something one of you can answer regarding the REopt Lite API?

[2020-09-11 16:40] NLaws commented on #172
From https://developer.nrel.gov/docs/energy-optimization/reopt-v1/ for `LoadProfile.year`:

[2020-09-14 09:45] l-jacob commented on #172
Thank you! That answers my question.

[2020-09-14 09:45] #172 closed

[2020-09-21 11:13] kazanture opened #174 "Solar resource files used for Australia stations"
Hi,
I am trying to understand PVWatts API results better.
One part the underlying library uses is a black box for me. the Solar resource file (solar_resource_file).
When I made a request the API returns to me and tells it is using for example ""solar_resource_file": "947670.tm3"".
But is it possible to know what is the content of 947670.tm3 ? The reason I am asking when I am manually using SAM or

[2020-09-21 11:39] kazanture commented on #174
In addition to above question(but very related) if we are using years 1998-2009 for example; is there a reason we choose this range? Maybe solar cycles(https://en.wikipedia.org/wiki/Solar_cycle_23)? (Then it should be 1996-2008 tho).
Sorry for all noob questions in advance.

[2020-09-24 14:41] TimurDela commented on #169
Hello, has this been resolved?
Even though the site-count API return wtk=1 for the location I am interested in, all I get from  /api/wind-toolkit/v2/wind/wtk_download.csv is 'Not Found' (no error message).

[2020-10-07 14:33] kurt-rhee commented on #170
Hey @PjEdwards are there any docs on how to download multiple years at the same time? All of the examples I have found in the documentation show how to download one year.

[2020-10-07 14:56] PjEdwards commented on #170
Yeah, all of the endpoint-specific docs have details on all available input parameters. The `names` param accepts a comma delimited list of years https://developer.nrel.gov/docs/solar/nsrdb/psm3-download/#request-parameters

Regarding your question above about the model details, I dropped the ball on that. I think your best bet for science questions is to post at  https://nsrdb.nrel.gov/contact-us

[2020-10-07 15:13] kurt-rhee commented on #170
Awesome thank you!

[2020-10-07 15:36] PjEdwards commented on #170
Doh! Didn't pay close attention. Let me know if I can do anything else for you.
P

[2020-10-08 21:40] pkhorana commented on #162
When I try this with POINT(80 40) it works, but when I use POINT(32.49 -84.18), which is a latitude and longitude I have downloaded data from in the NSRDB Map Viewer itself, it gives me this error:

"errors": [
        "No data available at the provided location",
        "Data processing failure."
    ]

Why is it not giving me data for this location?

[2020-10-22 21:04] ravenstevenson333 opened #177 "PVWatts array_type module_type"
Greetings!

I am very new to GitHub and all of this. I am attempting to pull PVWatts data into our company CRM and found your helpful page. I've been fiddling around with extracting data from PVWatts using the xml output format on this site and comparing it to data that I get from the PVWatts site entering the same inputs (system capacity, lat, lon, etc). That is, until I change array_type or modu

[2020-10-22 21:48] #177 closed

[2020-11-19 23:18] marktracy03 opened #182 "WIND Toolkit Power Data Deprecated"
Hello,

It looks like the "power" attribute in the WIND toolkit dataset is deprecated. Hence I can't access the 5-minute real time power data.  Why is this? Is there an alternative way to access this data or similar real-time wind power data?

Thanks,
Mark

[2020-12-02 21:18] ericp401 opened #184 "PV Watts Calculator"
Hello, can this be implemented into a Wordpress website?

[2020-12-15 06:41] jacksontong opened #186 "PVWatt request rejected"
We've been using [Guzzle](https://github.com/guzzle/guzzle) to make concurrent requests to pvwatt for 2 years. But today we encountered many request rejected errors and it's very randomly
[https://developer.nrel.gov/api/pvwatts/v6.json?&api_key={api_key}&system_capacity=1&azimuth=90&tilt=20&lat=-38.067679&lon=145.40987&array_type=1&module_type=0&losses=10&dataset=intl&timeframe=hourly&gcr=&inv_eff

[2020-12-15 15:32] GUI commented on #186
@jacksontong: Sorry for the trouble! Can you try again now? It looks like there was an issue yesterday that was inadvertently blocking some GET requests that also had a body included on the request, but those should be unblocked now. Let us know if you're still seeing any issues, though. If you are, please provide the "support ID" of a new response and we can try to get this resolved. Thanks!

[2020-12-17 02:19] #186 closed

[2020-12-18 23:33] psynapz opened #188 "PVWatts API error"
When I try to connect via your API, it is saying:
----
Server Connection Closed
Description: The server requested closed the connection before the transaction was completed.
----
Can you please assist? Everything was working fine until about 10 minutes ago, and we did not have any code changes on our end.

Ref:
https://developer.nrel.gov/api/pvwatts/v5.xml?api_key=XOvO5JaAuzT5j34hdHgnyMEEaTUtsvahl

[2020-12-19 01:09] IvanChang commented on #188
We are seeing the same problem.

[2020-12-19 02:00] dlopuch commented on #188
Can confirm -- getting same error against `GET https://developer.nrel.gov/api/pvwatts/v6.json`

Response status code: 502
Response text:
[code]

First observed 2020-12-18 14:25 US/Pacific

[2020-12-19 02:12] andrewfister commented on #188
Yes, I'm seeing the same behavior.

[2020-12-22 16:14] alexhill113 opened #189 "404 on all requests"
I am receiving 404 error for all requests to the PVWatts v6 API.

**Example>>>**

**URL:**
API KEY excluded

https://developer.nrel.gov/api/pvwatts/v6.json?api_key={API_KEY}&lat=40.15607195829166&lon=-74.10178919529822&system_capacity=10&azimuth=180&tilt=45&array_type=1&module_type=0&losses=8.7&inv_eff=97.8&dc_ac_ratio=1.25&dataset=nsrdb

**RESPONSE:**

[code]

[2020-12-22 16:36] alexhill113 commented on #188
I was getting the same, I am now getting 404 errors instead.

[2020-12-22 17:21] dlopuch commented on #188
Can confirm -- was working again over the weekend and Monday, then today started getting 404's with body:

[code]

[2020-12-22 17:25] alexhill113 commented on #188
Hi Dan,

Is there any ETA on a resolution for this issue at all? This has put us at a complete stand-still.

Regards,

Alexander Hill | Software Developer / Analyst | Business Technology | Trinity Solar |

T: (732) 780-3779 Ext. 9312 | F: (732) 780-6671 | E: Alex.Hill@trinity-solar.com<mailto:firstname.lastname@trinity-solar.com>

Corporate HQ: 2211 Allenwood Road | Wall, NJ 07719 | NJ Electrical:

[2020-12-22 17:32] cyberjus commented on #189
We are seeing this intermittently, maybe 25% of requests.

[2020-12-22 18:05] dlopuch commented on #188
I think you misunderstood my comment -- I don't work for nrel, I'm
consuming it for my company and so I'm in the same boat as you!

On Tue, Dec 22, 2020 at 9:26 AM alexhill113 <notifications@github.com>
wrote:

[2020-12-22 19:25] Lil-Strudel opened #190 "Pvwatts Access-Control-Allow-Origin header is possibly wrong."
The API was working perfectly for me a couple of days ago but now it gives me this error (Api Key Excluded):

Access to XMLHttpRequest at 'https://developer.nrel.gov/api/pvwatts/v6.json?api_key=${API Key}&system_capacity=0.31&module_type=1&losses=11.42&array_type=1&tilt=22.62&azimuth=180&lat=40.2968979&lon=-111.6946475' from origin 'http://localhost:3000' has been blocked by CORS policy: The 'Acce

[2020-12-22 21:21] brianvanderlugt commented on #189
Same experience here, although I've been experiencing closer to 80% 404.

[2020-12-22 21:21] rinman24 commented on #189
Also experiencing 404s intermittently across several machines.

[2020-12-22 21:25] reger commented on #189
We are currently experiencing issues with our server environment, but are working to get things resolved. Unfortunately, I have no estimate on when that might be at this time.

[2020-12-22 21:33] reger commented on #188
We are currently experiencing issues with our server environment, but are working to get things resolved. Unfortunately, I have no estimate on when that might be at this time.

[2020-12-22 22:50] wss-josh0 commented on #190
I’m getting the same error for https://developer.nrel.gov/api/solar/solar_resource/v1.json? and https://developer.nrel.gov/api/utility_rates/v3.json? endpoints.

[2020-12-23 13:46] reger commented on #189
We believe things should be back up and running normally now. Let us know if you are still experiencing this problem.

[2020-12-23 13:46] #189 closed

[2020-12-23 13:47] reger commented on #188
We think things are resolved now and should be back up and running normally. Let us know if you are still experiencing issues.

[2020-12-23 13:47] #188 closed

[2020-12-23 14:23] alexhill113 commented on #189
@reger things do seem to be working on our end. Thank you for the update.

[2020-12-23 16:15] rinman24 commented on #189
@reger things are back up on our end too. Thanks.

[2020-12-23 17:56] dlopuch commented on #188
Thanks for updating us @reger! We all truly appreciate the work yall do up at NREL, keep it up!

[2020-12-26 23:42] GUI commented on #190
Sorry for the trouble, all! I believe this was related to the same issue in #189. When the 404 error was being returned (which was only happening part of the time), it didn't contain the appropriate CORS headers, so you may have also seen these CORS errors first. But now that the APIs are functioning properly again, this issue should no longer be occurring. But let us know if you're still seeing a

[2020-12-26 23:42] #190 closed

[2020-12-29 14:07] reger commented on #174
@kazanture there is no access to the files via the pvwatts API, but you can read about the weather data files used by SAM and where to get them here: https://sam.nrel.gov/weather-data.html. The pvwatts API (v6) uses the NSRDB dataset by default, but you can choose to use TMY2, TMY3, or an international stations dataset (see the `dataset` param in the API docs). You can also reach out to the pvwatt

[2020-12-29 14:07] #174 closed

[2020-12-29 14:09] reger commented on #184
@ericp401 I don't believe the calculator itself is embeddable on your own site, but you can reach out directly to the pvwatts team via pvwatts@nrel.gov with any questions about it.

[2020-12-29 14:09] #184 closed

[2021-01-14 17:50] kylebannerman opened #191 "HTTP Error 503 Service Temporarily Unavailable"
I am trying to access the API through both my own API key and the DEMO_KEY as on [general API link](https://developer.nrel.gov/docs/cleap/general/), but keep receiving 503 errors. I have tried a few times throughout the past month with no luck.

Is there a known issue or is there anything I should be doing differently? Please let me know if you need more information on what exactly I am trying to

[2021-01-15 12:58] anoushp opened #192 "Downloading archive data from 1990-"
Hi,

I am having problems when attempting to download temperature data for 1990s for Indian locations via API. Currently years are limited from 2000-2014. Can we access earlier data somehow?

Thanks you,
Kind regards

[2021-01-15 13:54] PjEdwards commented on #192
@anoushp This dataset doesn't include any data outside the 2000-2014 timeframe. I suggest you send your question to https://nsrdb.nrel.gov/contact-us.html and see if anyone there can suggest an alternative data source.

[2021-01-15 15:25] anoushp commented on #192
Thanks @PjEdwards, I will use the general contact info you posted!

[2021-01-15 15:25] #192 closed

[2021-01-16 09:24] Joel-hanson commented on #191
Hi, I am getting similar error. Any updates on this.

[2021-01-22 19:00] jpcarbod opened #193 "Unavailable attribute on API request"
The "midnight_charge" attribute for residential charging strategy does not seem to be available. Getting a "bad request" error from the API when performing a request that includes that value

[2021-01-25 14:20] reger commented on #193
@jpcarbod What API are you having problems with?

[2021-01-25 17:50] jpcarbod commented on #193
Apologies @reger, I didn't realize this was a general development repository. It's the EVI-Pro Lite API that can be found here: https://developer.nrel.gov/docs/transportation/evi-pro-lite-v1/
Both of the API (/daily-load-profile and ​/daily-load-profile​/breakdown present the same issue)

[2021-01-25 18:57] reger commented on #193
thanks for letting us know @jpcarbod, we'll look into i

[2021-01-26 14:53] amj133 commented on #193
@jpcarbod Our apologies, the value you should be using for the `res_charging` param is `timed_charging`.  The docs you correctly referenced were out of date but have since been updated (https://developer.nrel.gov/docs/transportation/evi-pro-lite-v1/) to align with the API.  Thanks for posting!

[2021-01-26 16:40] #193 closed

[2021-02-08 22:01] janet-rivas opened #195 "Alternative Fuel Vehicles api, Help to get electric motorcycle list- HELP!!"
This is related to Alternative Fuel Vehicles api,
I can make a request using https://developer.nrel.gov/api/vehicles/v1/vehicles.json?api_key=DEMO_KEY,  but there are not electric  motorcycles listed, is there any other API that can list electric motorcycles ?

[2021-02-15 18:15] kanderso-nrel opened #196 "[docs] Broken links to SAM CSV description"
Several pages in the docs link to a PDF about the SAM CSV format for weather data, but that url currently 404s.  Example, the "this PDF" link here: https://developer.nrel.gov/docs/solar/nsrdb/psm3-tmy-download/#data-file-format

Lots of pages currently have that link: https://github.com/NREL/developer.nrel.gov/search?q=wfcsv.pdf

I didn't find the current hosting location for that PDF (didn't look

[2021-02-18 19:23] PjEdwards opened #197 "Request permissions to add new proxy path `/api/wave/`"
We're preparing to serve a new type of data via developer, but when editing the config for our API backend ("Production - GIS Team" I get a permissions error. The permissions appear to be path based. the new path I am adding uses a frontend prefix `/api/wave/`.

![Screen Shot 2021-02-18 at 2 19 13 PM](https://user-images.githubusercontent.com/5941504/108409900-c2daa500-71f4-11eb-88f7-ab012a46a03e.

[2021-02-18 19:35] PjEdwards commented on #196
Thanks Kevin. I'm chasing down some updated doc links now and will get those fixed in the soon.

[2021-02-18 19:39] PjEdwards commented on #182
Hi Mark

We recently upgraded the Wind Prospector to enable the delivery of 5min WTK meteorology data at all hub-heights and locations by leveraging our partnership with the AWS Public Dataset program. Unfortunately, this update means we will no longer be delivering power data. Instead, we recommend one of the following options:
1) Download the deprecated power data directly from AWS: s3://nrel-pd

[2021-02-19 01:43] GUI commented on #197
@PjEdwards: I think you should have permissions now. Want to give it a spin?

[2021-02-22 22:00] PjEdwards commented on #197
Yes, everything working great. Thanks!

[2021-02-22 22:00] #197 closed

[2021-03-01 18:38] kanderso-nrel opened #198 ""Data processing failure" on the NSRDB PSM3 CSV endpoint"
Seeing a new error for the `api/nsrdb/v2/solar/psm3-download.csv` endpoint that seems to affect all queries, or at least all the ones I've tried so far.  Here's a python snippet with the example from the docs to reproduce (api key redacted), although I get the same error using `curl`:

[code]
Output:
[code]

[2021-03-01 18:52] jja262 commented on #198
I'm seeing the same issue. Here's my input, using code borrowed from pvlib:
[code]
Output:
`['No data available at the provided location', 'Data processing failure.']`

[2021-03-01 18:54] mikofski commented on #198
We are also experiencing errors at https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.csv?api_key=DEMO_KEY&email=bwana.marko@yahoo.com&wkt=POINT(-99.49218%2043.83452)&names=tmy
[code]

[2021-03-01 19:58] Gatmat commented on #198
Have exactly the same issue since 4 hours ago....

The server returned the status 400 with message "Data processing failure." in response to the request to URL https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?...........

[2021-03-01 20:52] PjEdwards commented on #198
Sorry gang, we've had a system failure in our AWS environment. Actively pursuing a solution as we speak. I'll keep you posted.

[2021-03-02 18:57] jja262 commented on #198
This seems to be working again. Thank you!

[2021-03-02 19:47] PjEdwards commented on #198
We're still working out some kinks, but hopefully the big failures are behind us now. I'll drop a note here when we're fully resolved. Thanks for your patience!

[2021-03-22 14:22] j0hnm4r5 opened #203 "An error has occurred. Please consult with your administrator."
We're getting an error when trying to load a page containing a fueling station locator:

`An error has occurred. Please consult with your administrator. Your support ID is:5730482191151852868`

[2021-03-22 16:41] reger commented on #203
@j0hnm4r5 do you mean a page of yours where you've embedded it? Or the one on the AFDC itself?

[2021-03-22 16:43] reger commented on #195
Hello @janet-rivas, I believe one of my colleagues already responded to your contact form inquiry about this, so I'm going to close it.

[2021-03-22 16:43] #195 closed

[2021-03-22 16:45] reger commented on #182
@PjEdwards can this be closed now?

[2021-03-22 16:47] edatrix commented on #191
hi @kylebannerman and @Joel-hanson sorry for the delayed response and for the inconvenience.  Unfortunately the CLEAP APIs you were trying to reach are no longer supported and were removed.

[2021-03-22 16:47] #191 closed

[2021-03-22 18:03] PjEdwards commented on #182
Yes, please

[2021-03-22 18:18] #182 closed

[2021-03-22 18:21] PjEdwards commented on #196
The SAM team restored those links for us.

[2021-03-22 19:43] j0hnm4r5 commented on #203
@reger sorry; a page we host ourselves, using the "Embed Tool" data from the afdc site:

[code]

[2021-03-22 19:45] j0hnm4r5 commented on #203
It seems to be working now! Did anything change on your end?

[2021-03-22 19:46] j0hnm4r5 commented on #203
Ah, scratch that; it's inconsistent.

[2021-03-22 22:45] reger commented on #203
Okay, we'll look into it.

[2021-03-23 14:58] GUI commented on #203
@j0hnm4r5: Is the link where this tool is embedded public? If it is and that's something you could share, that might help us see if we can reproduce the issue. Thanks!

[2021-03-23 15:06] j0hnm4r5 commented on #203
Of course! Thanks for helping.

https://ngvamerica.org/fuel/fuel/ngv-station-map

Occasionally it loads fine, but most of the the time it throws the above error. It'll look like the page loads indefinitely, but if you go into the console, it'll say `Uncaught SyntaxError: Unexpected token '<'`. And if you click the line number, it will point to some HTML that was injected into the bundle that menti

[2021-03-23 16:47] #198 closed

[2021-03-23 16:48] #196 closed

[2021-03-23 16:48] #170 closed

[2021-03-23 16:48] #169 closed

[2021-03-23 16:48] #164 closed

[2021-03-23 16:48] #159 closed

[2021-03-23 16:49] #158 closed

[2021-03-24 18:17] kylebannerman commented on #191
Thanks for the update. Is there another way to access this data or has it been removed entirely?

[2021-03-29 17:57] psynapz opened #205 "Unable to geocode address error"
Currently getting error: "Unable to geocode address: 2500 Concord Ave, Brentwood, CA 94513"

[2021-03-30 19:49] #205 closed

[2021-04-05 18:54] GUI commented on #203
@j0hnm4r5: Sorry for the delay! So, our IT staff says that this is being blocked since the IP the request is coming from is flagged as a phishing IP. Now, I realize this is probably a false positive, but I am wondering if this maybe points to an issue with how the widget is being embedded on your site. I don't actually see our snippet code directly in your source code, particularly the `<script as

[2021-04-05 19:40] j0hnm4r5 commented on #203
Interesting. We just moved the site from a self-hosted AWS instance, to one hosted by WPEngine (which I suppose could be hosting our site on a shared IP with other sites associated with Phishing).

The site is built in a WordPress page builder (Beaver Builder), which totally could be doing something with delaying the request. I inherited the site from our creative team, and unfortunately redoing i

[2021-04-13 13:36] j0hnm4r5 commented on #203
Have you had a chance to whitelist the IP address yet (or is that even possible)?

[2021-04-13 16:25] j0hnm4r5 commented on #203
I figured out a workaround! Hitting the page with the query fragment already in the URL seems to trick everything into working.

[https://ngvamerica.org/fuel/ngv-station-map/?f#/find/nearest?fuel=CNG,%20LNG](https://ngvamerica.org/fuel/ngv-station-map/?f#/find/nearest?fuel=CNG,%20LNG)

[2021-04-13 16:25] #203 closed

[2021-04-15 00:40] jacksontong opened #208 "Could not resolve host: developer.nrel.gov"
We are getting this error while making request to NREL. The url is [https://developer.nrel.gov/api/pvwatts/v5.json?&api_key={api_key}&system_capacity=1&azimuth=21&tilt=20&lat=-37.8198366&lon=145.1766079&array_type=1&module_type=0&losses=14&dataset=intl&timeframe=hourly&gcr=&inv_eff=96&radius=500](https://developer.nrel.gov/api/pvwatts/v5.json?&api_key={api_key}&system_capacity=1&azimuth=21&tilt=20

[2021-04-15 01:28] aayushofdesk commented on #208
I can confirm that I'm also experiencing the same issue.

[2021-04-15 03:45] GUI commented on #208
@jacksontong, @aayushofdesk: Can you provide any other debug details, like what DNS servers you're using and the output of `dig developer.nrel.gov`? All of the external DNS checks I've performed come back successful, so I'm not sure what is going on here. Thanks!

[2021-04-15 03:52] jacksontong commented on #208
@GUI
[code]

[2021-04-15 03:58] GUI commented on #208
@jacksontong: Strange that `dig` resolves the address, but `curl` does not. I'm sort of taking wild stabs in the dark, but I tried changing one thing with DNS, so could you try with curl again? Thanks for helping to debug!

[2021-04-15 04:38] jacksontong commented on #208
@GUI Thanks for your help, it's working on my server.

[2021-04-15 04:38] #208 closed

[2021-04-15 12:57] aayushofdesk commented on #208
Sorry I wasn't much help as it was too late. But thank you for the quick fix, it works now!

[2021-04-16 13:56] sfirke opened #209 "Alternative Fuel Station API not returning results based on lat & lon"
Hello,

I'm trying to retrieve EV charging stations in the Ann Arbor, MI area.  I'm making an API query with that latitude and longitude, but am getting unrelated results, e.g., chargers in California.  My query is:
[code]
Can you advise on how to retrieve just the stations within 10 miles of that lat/lon ?  I read the API documentation, sorry if I'm missing something obvious.  Thanks!

[2021-04-19 14:52] kanderso-nrel commented on #209
Hi @sfirke I'm not familiar with the `alt-fuel-stations` api, but maybe you just need to edit the url to include `/nearest`, i.e. instead of `/api/alt-fuel-stations/v1`, use `/api/alt-fuel-stations/v1/nearest`?  See the different endpoints here:

https://developer.nrel.gov/docs/transportation/alt-fuel-stations-v1/

[2021-04-19 14:59] #209 closed

[2021-06-16 21:25] craftj2 opened #220 "Change in format for TMY temperature data?"
There appears to have been a change in format for the data. My API requests are now returning values for temperature in what I guess are 1/10ths of a degree C (i.e. 190 = 19.0 degrees C). I haven't been able to find any documentation of this change. is this accurate?

[2021-06-16 21:43] jja262 commented on #220
I also noticed this. I pulled PSM3 data for a few sites in the US, and it looks like the temperatures have all been multiplied by 10.

[2021-06-17 14:58] chrisd31 commented on #220
Here are minimal reproduction steps:

`https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.csv?wkt=POINT(-115.0+36.0)&attributes=dhi%2Cdni%2Cghi%2Cdew_point%2Cair_temperature%2Csurface_pressure%2Cwind_direction%2Cwind_speed%2Csurface_albedo%2C%2C%2C&names=tmy&full_name=Louis%20Bourbon&email=sun.king@nrel.gov&affiliation=NREL&mailing_list=false&reason=test&utc=true&api_key=key`

The iss

[2021-06-17 19:37] PjEdwards commented on #220
Let me take a look. We recently deployed the 2020 data. I'm guessing the scale factor meta is missing from the new file.

[2021-06-17 20:12] PjEdwards commented on #220
OK, we have a data issue. Going to rollback 2020 for a couple of days until we get it fixed. Give it about 30 minutes for the deployment to propagate. Thanks for the heads up!

[2021-06-17 21:31] chrisd31 commented on #220
I can confirm that the reproduction steps above now return reasonable values for Dew Point and Temperature. Also returns:
* Location ID: 103426
* Version: 3.1.1
* tmy: 2019

Did the rollback happened for all locations or only 103426? Thanks

[2021-06-18 13:56] PjEdwards commented on #220
Yep, all locations. The way this works is that if you request "tmy" instead of a specific year (e.g. "tmy-2019") you will get the most recent year. When the 2020 data came out I updated the "tmy" alias to point at 2020 instead of 2019. When this bug was reported I simply updated the alias to point back at 2019 data again. I think it's important to be aware that we do this so you can choose if you

[2021-06-23 02:06] jblainegarcia opened #223 "Solar Resource v1 avg_dni is sometimes lowest value"
The output given by the example in the docs (https://developer.nrel.gov/api/solar/solar_resource/v1.json?api_key=DEMO_KEY&lat=40&lon=-105) responds with `avg_ghi` having the lowest values, then `avg_lat_tilt` the second lowest, and `avg_dni` the highest.

But I'm coming across other locations producing a different order (https://developer.nrel.gov/api/solar/solar_resource/v1.json?api_key=DEMO_KEY&

[2021-07-14 20:35] NicholasFry opened #225 "Address format for electricity rates unspecified in documentation"
Hi there. I noticed that the address format is unspecified in the alternative to lat/lon in the electricity rate documentation. Do you have an additional reference for passing this parameter?

https://developer.nrel.gov/docs/electricity/utility-rates-v3/

[2021-07-14 21:47] reger commented on #225
Hi Nicholas,

Just "normal" address format, not sure how else to describe it.

`<street address> <city> <state> <postal code>`

For example: `https://developer.nrel.gov/api/utility_rates/v3.json?api_key=DEMO_KEY&address=15013%20Denver%20West%20Parkway%20Golden%20CO%2080401`

Rob.

[2021-07-14 21:51] reger commented on #220
@PjEdwards let me know when you want this closed

[2021-07-14 22:29] NicholasFry commented on #225
Hi Rob,

Thanks for this. Sorry if the question seems obvious. I am thinking about a little bit of error handling on a user interface. I appreciate the response.

[2021-07-14 22:37] #225 closed

[2021-07-15 19:53] PjEdwards commented on #220
Yes! Can be closed. New data was rolled out last week. SOrry didn't update ticket sooner. Thanks Rob!

[2021-07-15 19:55] PjEdwards commented on #5
I feel like we should close this one as "Will Not Address". These APIs are constrained by what is possible given the size of the base data.

[2021-07-16 05:09] #220 closed

[2021-07-16 05:10] #5 closed

[2021-07-25 02:37] Kintsugi88 opened #227 "Reach API request limit/ Trying to loop a request 17000 times"
I'm new to python, I noticed there is a 1000 requests limit in one hour. So I use time.sleep(4) to loop my request function, so I'm looping 900 times in an hour. But it still says I reached the request limit. What is a good time-out period for this situation?

[2021-07-25 03:01] Kintsugi88 commented on #227
I figured that out, I am using the demo key. I got the API key after signed up, hope it will work!

[2021-07-25 03:01] #227 closed

[2021-11-01 20:46] cameroncan opened #238 "404 errors on very specific lat/lng coordinates, success on a different but equivalent location"
When I make a request to
`https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.csv?api_key=[...]&names=tmy&utc=false&email=[...]&wkt=POINT(-71.52549914%2041.69566264) `
my request fails with
[code]

When I add a '0' to the end of the coordinates:
`https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.csv?api_key=[...]&names=tmy&utc=false&email=[...]&wkt=POINT(-71.525499140%204

[2021-11-01 20:57] PjEdwards commented on #238
Hi Cam, this is a somewhat convoluted issue. I'll try and explain. Our system caches the results of requests for between 24 to 48 hours. If a request errors in a certain way the system _thinks_ there is a cached result, even when there is not. In this case it will return you a bad link and hence the 404 `NoSuchKey` error.

Your trick is quite clever because it plays on the fact that our cache is s

[2021-11-01 21:09] cameroncan commented on #238
Thanks, that would explain it. it looks like the last one to fail was a little over 30 minutes ago.

Any chance the cache can be cleared on your end? Then I can let my automated process send them through, and potentially fix any other's who might have had the same issue.

Also any recommendations to avoid getting hung up on this in the future? Or will there be any work to prevent this from happeni

[2021-11-01 21:26] PjEdwards commented on #238
I have already started our cache cleanup script. However, fair warning, given the number of files in those buckets it takes upwards of 12 hours to process all of them.

I do have tickets open to implement better handling of failed jobs. This will take care of eliminating bad caches for known failure paths. However, I can't guarantee new ones won't surface at some point in the future! I anticipate

[2021-11-01 21:43] cameroncan commented on #238
Thanks! I appreciate the quick responses.

[2021-11-01 21:46] PjEdwards commented on #238
No problem. I'm sorry the services haven't been fully stable for you!

Oh hey, I just thought of this.... if you add an additional query param `no_cache=true` this will do exactly what it sounds like and should alleviate your woes in the meantime. I'd suggest using this for the next 12-24 hours and hopefully you can drop it after the cache has been fully flushed.

[2021-11-01 21:48] cameroncan commented on #238
That sir is well received. I must have missed that option. I'm going to do that with the ones that are stuck.

[2021-11-02 12:47] PjEdwards commented on #238
It's an undocumented feature. We use it internally for testing and monitoring so we can send the same request multiple times and know the cache isn't involved. Since the cache is an important optimization we don't advertise it broadly. In this case it's the perfect solve for your situation!

[2021-11-02 17:32] cameroncan commented on #238
We've had the cache issues still happening through today, but with the adjustment you suggested we are able to move forward. It looks like it's still happening though.

[2021-11-02 18:40] PjEdwards commented on #238
Thanks for the heads up. I'm seeing it to. I need to elevate those bug fixes to handle ASAP.

[2021-11-10 19:41] craftj2 commented on #238
I am experiencing the same issue as OP, I will be using the fix published here but thought I would add my voice to the mix!

[2021-12-01 14:30] ryantoussaint commented on #238
I'm seeing 5xx errors on this endpoint this morning, for locations that we were able to get data from yesterday. Anybody else having the same issue?

Sample request:
[code]

[2021-12-01 14:45] PjEdwards commented on #238
We're experiencing a system-wide failure right now. I'm debugging and will have service restored as soon as possible.

[2021-12-01 17:41] PjEdwards commented on #238
Service is restored. We had some internal testing processes running amok that brought our servers to their knees.

Apologies for the inconvenience!
Paul

[2021-12-07 19:59] jessicamillar opened #242 "'Data processing failure' on nsrdb psm3-tmy-download request"
Hi. I am trying to get typical modeled year direct normal irradiance data and am working with the nsrdb api for the first time. I am getting a 'Data processing failure' error. Am I making an error in the request, is there a different/better way to request, or shall I sit tight for issues to be resolved?

query_string = f'https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.csv?api_key={

[2021-12-08 19:39] jessicamillar commented on #242
Hi Paul -

Thanks for the swift help. I did notice a typo in my query (attributers instead of attributes) but that didn't seem to be the issue.

import requests
query_string = 'https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.csv?api_key=jH2MBoOI7XvLel05JgYOujNjw9hJxmZ6jnMvXuQ9&names=tmy&utc=true&email=jessica.lynn.millar@gmail.com&attributes=dni&wkt=POINT(-68.7,45.65)'
response = r

[2021-12-10 13:59] PjEdwards commented on #242
Ahh, just a WKT format issue. Looks like our validation code didn't catch this one. Simply remove the comma between the lat and lon e.g.
`https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-download.csv?api_key=jH2MBoOI7XvLel05JgYOujNjw9hJxmZ6jnMvXuQ9&names=tmy&utc=true&email=jessica.lynn.millar@gmail.com&attributes=dni&wkt=POINT(-68.7 45.65)`

[2021-12-10 16:16] jessicamillar commented on #242
Thanks Paul!

[2021-12-10 16:16] #242 closed

[2021-12-10 16:19] PjEdwards commented on #242
You're welcome!

[2022-01-04 16:24] ramabgit opened #245 "India wind download issue - Multiple years and mutiple coordinates"
Hi,

I'm making calls to India wind API through my own API key. I'm able to download data only for 2014, but not for any other year. Please let me know how can I download data for multiple years. The same url works fine for 2014.
My request URL is below.
https://developer.nrel.gov/api/wind-toolkit/v2/wind/india-wind-download.csv?attributes=pressure_40m%2Ctemperature_100m%2Ctemperature_120m%2Ctempe

[2022-01-05 21:28] williamhobbs opened #246 "Missing details in PSMv3 5min documentation"
On the PSMv3 5min documentation website, https://developer.nrel.gov/docs/solar/nsrdb/psm3-5min-download/,
https://github.com/NREL/developer.nrel.gov/blob/main/source/docs/solar/nsrdb/psm3-5min-download.html.md.erb, there appear to be a few issues:
- The second sentence says "_The National Solar Radiation Database (NSRDB) is a serially complete collection of hourly and half-hourly values..._" and d

[2022-01-05 22:13] reger commented on #246
for you @PjEdwards

[2022-01-05 22:14] reger commented on #238
@PjEdwards can this be closed now?

[2022-01-05 22:26] PjEdwards commented on #245
@ramabgit This dataset has only 2014 data available. In order to request data for a region you can use the same API with the following changes:
1. Request using `.json` instead of `.csv`
2. Supply a WKT value of a polygon or multipoint. (There are some examples at https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry)

[2022-01-06 01:39] NataliaLopez17 opened #247 "2021 Data for Physical Solar Model (PSM) v3"
I was just wondering when the 2021 data for the [Physical Solar Model (PSM) v3](https://developer.nrel.gov/docs/solar/nsrdb/psm3-5min-download/)](https://developer.nrel.gov/docs/solar/nsrdb/psm3-5min-download/) would be available.

[2022-01-06 14:30] ramabgit commented on #245
I'm getting data processing failure for a polygon
{
    "inputs": {
        "body": {},
        "params": {},
        "query": {
            "attributes": "pressure_40m,temperature_100m,temperature_120m,temperature_40m,temperature_80m,winddirection_100m,winddirection_120m,winddirection_40m,winddirection_80m,windspeed_100m,windspeed_120m,windspeed_40m,windspeed_80m,pressure_100m",
            "name

[2022-01-06 18:12] PjEdwards commented on #245
OK I'll take a look. I need to apologize in advance... I've got a backlog of critical tasking including this ticket. I'll get to it as soon as I can but it may be tomorrow before I can start digging around.

[2022-01-07 17:27] ramabgit commented on #245
Hi,

I've been trying multiple options. Then finally I got following response. Does that mean Polygon is not accepted for downloading?

"status": 400,
    "errors": [
        "This request type only supports a single point for a single year or TMY type.",
        "Data processing failure."

[2022-01-07 17:29] PjEdwards commented on #245
The polygon format is only accepted for `.json` style requests. That message most likely indicates you submitted a polygong with a `.csv` style request? (I haven't forgot about this issue)

[2022-01-07 20:49] PjEdwards commented on #245
OK, well after much waiting and suspense it is just a format error in your WKT. Polygons need double parenthesis. IOW try `POLYGON((75.36621%2024.726874,70.36621%2024.726874,70.36621%2020.726874,75.36621%2020.726874,75.36621%2024.726874))`

However in testing I saw that this polygon results in an amount of data that exceeds our rate limits. There is a guide at https://developer.nrel.gov/docs/wind/

[2022-01-07 20:49] #245 closed

[2022-01-07 20:50] PjEdwards commented on #247
I'll check with the team and let you know.

[2022-01-07 20:53] PjEdwards commented on #246
Hi @williamhobbs. Thanks for the notes! I'll add these as tickets to get our docs updated.

In all cases where we down-select time interval when downloading a dataset all we do is grab every x slice. So a 15 minute download of the 5 minute data is every 3rd slice, and the 60 minute download of the 30 minute data is every other slice, etc.

[2022-01-07 20:53] #246 closed

[2022-01-07 20:55] PjEdwards commented on #238
Yes, thanks for the bump

[2022-01-07 20:55] #238 closed

[2022-01-07 21:03] kanderso-nrel commented on #246
Is that the case for the 30-minute data as well (that it's a slice, not an average, of lower frequency data)?  I had understood the same as @williamhobbs: 30-minute is the average of 5-minute data, for recent years at least:

Source: https://nsrdb.nrel.gov/images/NSRDB_Webinar_QA_-_Oct_6_2020.pdf

[2022-01-07 21:25] PjEdwards commented on #246
Well, I think we are talking about 2 questions. I'm only speaking about what the download APIs do with the data the NSRDB team hands to me to serve. What you are asking about here sounds like how the NSRDB model generates the 30m data from src. I'm afraid I'm not the right person to ask about that. Suggest pinging the mailing list at nsrdb@nrel.gov.

[2022-01-07 21:49] williamhobbs commented on #246
@kanderso-nrel referenced the same source I was looking at. And I agree, I think we are talking about two different things.

So, does the NSRDB team need to provide clarification about how the NSRDB produces the underlying data, and then the API documentation can be updated accordingly?

[2022-01-07 21:53] wholmgren commented on #246
Yes please!

[2022-01-07 22:04] williamhobbs commented on #246
Can I "@" the NSRDB team here, or does that need to go offline via email and then come back here later?

[2022-01-07 22:06] PjEdwards commented on #246
I am not sure if any of those folks are on here. I'd suggest sending a link to this issue in an email to that list and maybe one of them will jump on here and answer inline? I can ask as well and maybe get some traction.

[2022-01-07 22:16] williamhobbs commented on #246
I'll send an email to Managit linking this issue. Thanks!

[2022-01-07 23:21] grantbuster commented on #246
Here is my github username, feel free to ping me via github in the future. Here is the response i provided via email (for posterity). It sounds like there might be some confusion on the source data vs. the API doing an interval selection when serving the data... I can't really comment on this though. @PjEdwards  is still the authority on the API.

In the continental united states we have data at 5

[2022-01-07 23:49] williamhobbs commented on #246
For the cases of 30-min and 60min interval data, does pulling from "PSM v3" vs "PSM v3 5 minute" make a difference in terms of sampling/averaging of either timesteps or grid cells?

Additional detail on what I'm referring to: When downloading data via the developer API or the map NSRDB Data Viewer, 30-min and 60-min interval data can come from either dataset. Here https://developer.nrel.gov/docs/s

[2022-01-10 16:03] grantbuster commented on #246
_For the cases of 30-min and 60min interval data from 2018 forward, does pulling from "PSM v3" vs "PSM v3 5 minute" make a difference in terms of sampling/averaging of either timesteps or grid cells?_

I _think_ that pulling "PSM v3" is the data aggregated from 2km5min->4km30min and "PSM v3 5-minute" is the native 2km5min data, possibly *sampled* at a coarser temporal resolution. @PjEdwards can yo

[2022-01-10 21:11] PjEdwards commented on #247
OK, the official answer is:

[2022-01-10 21:11] #247 closed

[2022-01-11 21:16] ramabgit opened #248 "India Site count- regarding"
Hi,

I wanted to verify how many sites are providing the data for a region. so I used the site count api call and got following response. Does this mean the India data has only one site? or does this mean the coordinates I have used is getting data from 1 site?

{
    "inputs": {
        "body": {},
        "params": {},
        "query": {
            "wkt": "POINT(75.36621 24.726874)"
        }

[2022-01-11 21:38] PjEdwards commented on #248
It is possible to do it through the APIs, however you would have to do some work to craft a series of requests that would allow you to accomplish this within the rate limits of these services. This technique is described at https://developer.nrel.gov/docs/wind/wind-toolkit/guide/.

However, if you're truly interested in downloading _all_ of the India data you might prefer downloading the full raw

[2022-01-11 21:39] PjEdwards commented on #248
Specifically about the site_count endpoint, since you requested a single POINT in your WKT, that will only match the closest single site within 50km. That means it will only ever match either 0 or 1 sites. What you are looking for is to make a request with a POLYGON WKT that will return with the number of sites located within the specified polygon.

[2022-01-11 21:54] ramabgit commented on #248
Ok. Thanks. That gives some information for me to research. But how do I even get all the coordinates of India?

[2022-01-11 21:58] PjEdwards commented on #248
I'd suggest keeping it simple by finding the four corners of a box that contains all of India. Then you could start breaking that down into smaller and smaller squares in a grid pattern until you arrive at a reasonable grid size where each block can be used to craft a request within the rate limits. Since the rate limits are influenced by a few factors in a request it might take a little fiddling

[2022-01-11 22:09] ramabgit commented on #248
It would be nice if you can include lat and long in the response.

Anyways, but I tried downloading one another point. it gives me download url but when I try to download, it says URL not found.
here is one such URL.
https://gds-hsds-wtk-files.nrelcloud.org/data/wind/04501aa73898cbd3c7a22be3f62f9152.zip

[2022-01-11 22:39] PjEdwards commented on #248
I think the job for that request hasn't run yet. You'll get an email with the same link when the file is truly ready. The resulting files do include the coordinates of the actual site matched. Is that what you meant?

[2022-01-12 13:37] ramabgit commented on #248
Great. I'm able to download the file. But it is not having lat and long coordinates in the data

![indiawind-latlong](https://user-images.githubusercontent.com/97115842/149150592-9abb70b1-7e92-4625-b725-6daaad6711cc.PNG)

[2022-01-17 17:30] kjsauer opened #249 "404 - Category not found"
[1] https://developer.nrel.gov/docs/solar/nsrdb/
"Other options are detailed [here](https://nsrdb.nrel.gov/download-instructions)" -> 404 - Category not found
"Help improve this content" at the bottom of the same page in Ref. [1] above leads to:
https://github.com/NREL/developer.nrel.gov/blob/main/source/docs/solar/nsrdb/index.html.md.erb

[2022-01-25 22:41] PjEdwards commented on #248
Sorry for the slow turn-around on this. We had a bug. I've deployed a fix so that lat and lon do show up in the downloads now. Thanks again for your feedback!

[2022-01-26 02:33] #249 closed

[2022-01-26 13:18] PjEdwards commented on #248
I'm going to close this out. If you have any further issues don't hesitate to let me know!

[2022-01-26 13:18] #248 closed

[2022-02-01 14:27] #147 closed

[2022-02-01 14:38] reger commented on #111
@mailbox01 apologies for this **really** falling through the cracks. The only explanation I have is that pvwatts is geocoding your address string incorrectly. I was able to get it to use the Swanbourne, WA station if I sent in `6 Michael Cres, Boya,Western Australia,6056` as the `address`. Not that it helps you now. Again, apologies.

[2022-02-01 14:38] #111 closed

[2022-02-01 14:46] reger commented on #223
@jblainegarcia Apologies for the slow reply. I don't really have an explanation. I built the API, and it pulls data from a database table built using the SUNY Satellite Solar Radiation model using the model's hourly output for 1998-2009 that was provided at the time. What is returned is what is in that table.

If you haven't already, I would suggest taking a look at the NSRDB APIs (https://develop

[2022-02-01 14:46] #223 closed

[2022-02-01 14:53] reger commented on #155
@Sophieleamon Apologies for the slow reply. The TMY files used by pvwatts are not yearly files, they are "typical meteorological years" meaning the values in them are averaged over a multiyear period. See https://nsrdb.nrel.gov/about/tmy for a full description.

I'm not as familiar with the NSRDB APIs, but they might have what you are looking for: https://developer.nrel.gov/docs/solar/nsrdb/

[2022-02-01 14:53] #155 closed

[2022-03-25 06:37] Shubham04111 commented on #169
I still cant download the CSV files for many wind locations in India. I think this work is still broken.

[2022-03-25 15:00] kanderso-nrel opened #255 "PSM3 CSV endpoints: "Data Processing Failure""
Hello and happy Friday @PjEdwards!  This morning I and some others are seeing failures on the `psm3-download.csv`, `psm3-tmy-download.csv`, and `psm3-5min-download.csv` endpoints.  I've managed to get one or two requests to work, but repeating the same request fails.  I've not discerned any pattern in the failures.

Here's an example request that I'd expect to work:
https://developer.nrel.gov/api/

[2022-03-25 15:31] jmartin4nrel commented on #255
I am getting similar "Data Processing Failure" responses with both the psm3-download.csv solar endpoint and the wtk-srw-download wind endpoint. These are the URLs I'm sending (API keys removed) and the responses I'm getting. This was happening yesterday late afternoon; checked again just now and the responses are unchanged.

Wind URL:
https://developer.nrel.gov/api/wind-toolkit/v2/wind/wtk-srw-dow

[2022-03-25 15:58] craftj2 commented on #255
Echoing the statements above. starting seeing this issue with psm3-tmy-download.csv yesterday afternoon

[2022-03-25 18:02] jmartin4nrel commented on #255
Appears to be fixed now!

[2022-03-27 05:41] NataliaLopez17 opened #256 "Puerto Rico SHR (Simulated High Resolution) (/api/nsrdb/v2/solar/puerto-rico-download) "Data Processing Failure""
Hello, I have been trying to get data from the api  ```https://developer.nrel.gov/api/nsrdb/v2/solar/puerto-rico-download.json?api_key=${API_KEY}``` but I keep getting a 400 error that says "Data Processing Failure". Why is this happening?

[2022-03-29 20:56] #256 closed

[2022-04-12 18:45] mjroth opened #258 "PSM CSV endpoint Fill Flag depends upon version"
In the (current) PSM3 CSV endpoint, the header of the CSV includes the "version" tag. I've come across version="3.0.6", "3.1.0", and "3.2.0" for recent years. This is useful information to include.

But I note that the "Fill Flag" changes depending upon the version.

- For 3.0.6, the Fill Flag is one of [0, 1, 2, 3, 4], which corresponds to the provided header.

- For 3.1.0 and 3.2.0, the Fill Fla

[2022-04-26 16:30] ryantoussaint opened #262 "Unable to retrieve weather data for a given location"
@PjEdwards  I'm seeing 5xx errors on this solar endpoint this morning, for locations that we were able to get data from yesterday.

Sample request:
[code]

The response I get is a 502 Bad Gateway.  Any context is much appreciated, thanks

[2022-04-26 17:25] cameroncan commented on #262
We're getting this as well on all requests, including after using the "no_cache=true" flag. Haelp!

[2022-04-26 20:36] #255 closed

[2022-04-26 20:49] PjEdwards commented on #262
We suffered a full system failure between about 12:30 EDT and just now. Services are restored but may be laggy as they work through the backlog of requests.

[2022-04-26 20:49] #262 closed

[2022-05-23 15:30] grimsa opened #264 "PVWatts V6 API cannot be used for inverters with efficiency below 90%"
We ran into a case where PV Watts API returned an Unprocessable Entity response with `["'inv_eff' must be between 90 and 99.5"]` error.

The value we sent was `88` which seems to be correct for `Growatt New Energy SPF 12000T DVM-US MPV` inverter:
![image](https://user-images.githubusercontent.com/8446128/169853589-9420b4b5-830e-4eda-a441-5f0c1569564f.png)

Is the lower bound of allowed `inv_eff` v

[2022-05-23 18:32] cpaulgilman commented on #264
@grimsa This is an inverter for off-grid PV-battery systems. PVWatts is designed to model grid-connected PV systems with no storage. [Other Growatt](https://www.growatt-america.com/Residential-inverters-8-652.html) inverters designed for grid-connected PV systems have the more typical maximum efficiency values around 98%. Can you tell me more about how you are using PVWatts?

[2022-05-24 15:03] #264 closed

[2022-06-03 09:16] grimsa opened #266 "Utility rates API: Blank/null company ID"
We are looking at using Utility rates API (`GET /api/utility_rates/v3`) to determine the utility IDs of companies operating at a given location (lat/long).

In one case we observed the following response:
[code]

In this case the company ID is either blank (`""`) or `null`.

A quick Google search suggests

Are `null` utility IDs expected in the dataset on which the NREL utility rates API is based,

[2022-06-03 18:49] reger commented on #266
@grimsa To be honest, I don't know. It's possible that at the time the data we built the API on did not have the ID for that company. Yes, not the most helpful answer, especially considering I'm the one who implemented the API in question, but there hasn't been any funding to maintain the API or update the data, so that's about all I have.

I would also like to point out that the data behind that

[2022-06-03 18:49] #266 closed

[2022-06-03 20:48] grimsa commented on #266
Thank you, this is helpful. We'll look into using OpenEI database instead.

[2022-06-06 22:41] PjEdwards commented on #258
@mjroth This is a reasonable request, but is more relevant to the NSRDB modeling team than it is to to this the API team. The type of documentation you are looking for is generally found at [this page](https://nsrdb.nrel.gov/data-sets/us-data) and any suggestions for updates would be most effectively sent via email to nsrdb@nrel.gov.

[2022-06-06 22:41] #258 closed

[2022-06-15 15:24] williamhobbs commented on #246
A related detail that I don't think has been covered here (or in API documentation) is clarifying when the timestamps are center-labeled and values are averages vs when timestamps and values are instantaneous.

[2022-09-16 22:24] NataliaLopez17 opened #275 "2021 Data for Physical Solar Model (PSM) v3 - Five Minute Temporal Resolution"
I was told that the solar data for the ```https://developer.nrel.gov/docs/solar/nsrdb/psm3-5min-download/```  API would be available mid summer but it's already mid-September and I'm not able to get the download links regarding 2021.

When will the data be available?

[2022-09-19 13:29] PjEdwards commented on #275
Hi @NataliaLopez17. Honestly I'm not sure. This forum is a good place  for questions about using the APIs. For questions about data availability and the underlying model technology your best bet is sending email to the mailing list "nsrdb@nrel.gov"

[2022-09-19 13:29] #275 closed

[2022-09-26 17:45] williamhobbs opened #277 "Add option for sub-hourly intervals in SAM format WIND Toolkit data"
NREL SAM can model sub-hourly wind profiles and the standard WIND Toolkit API has 5-, 15-, 30-, and 60-minute interval options [1]. The SAM format (srw) API [2], however, only has an option for 60-minute intervals, e.g., adding "interval=5" results in a response that includes `"errors":["The optional 'interval' parameter must = 60"]`.

It would be helpful if the SAM format WIND toolkit API could b

[2022-10-20 15:28] cameroncan opened #281 "Version property missing in tmy data, causing csv parsing issues"
Since yesterday at 22:00 GMT, we've been experiencing failures in consuming the tmy data. In the CSV the last property on the first line is `Version` and is now blank. This has previously been populated. Can this property get populated again? If not, please remove from the CSV.

Here is an example request that is returning this result:
https://developer.nrel.gov/api/nsrdb/v2/solar/psm3-tmy-downloa

[2022-10-20 19:19] PjEdwards commented on #281
Hmm, that's a bug. I'll look into it.

[2022-10-20 20:05] PjEdwards commented on #281
OK, I deployed a fix for this. Thanks for reporting!

[2022-10-20 20:05] #281 closed

[2022-10-20 20:36] cameroncan commented on #281
It looks like it's all good on my end now. Thank you!

[2022-10-24 15:49] reger commented on #277
This is dependent on the SAM issue noted above. The SAM team is planning to get to it in the next few months.

[2022-10-24 15:49] #277 closed

[2022-11-10 18:57] ssolson opened #285 "Issue Accessing Hindcast Data at a specified location"
Hello,

My name is Sterling and I lead development on [MHKiT-python](https://github.com/MHKiT-Software/MHKiT-Python). Our toolbox uses [nrel-rex](https://github.com/NREL/rex) to access `directional_wave_spectrum` from the hindcast data hosted on NREL's HSDS server. Prior, to October our calls to the HSDS server had worked without issue but our CI tests are now failing from no data returned.

I hav

[2022-11-29 15:59] PjEdwards commented on #285
Hi Sterling. This issue just hit my desk. Sorry for the delay. I'm going to take a look a this today and will get back to you as soon as I have any insight to offer.
~Paul